tr.example-detail-row {
  height: 0 !important;
  visibility : hidden;
  background-color: red;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: block;    
  width: 100%;
}

.mat_header_not_display {
display: none;
}
.super_header_first_row{
min-height: 19px;
max-height: 19px;
height: 19px;
margin-bottom:0.2vh; 
width: 100%;
/*font-weight: 700;*/
}

.cell_measure_observations{
background-color:#3f51b53d;
}

.md-tooltip .md-content {
height: auto;
}
.allow-cr {
white-space: pre;
}

.sticky-cell{
background-color : rgb(235, 235, 235);
height: 30px;
width: 500px;
border: 1px solid #e9ecef;
}
.sticky-cell-td{

border-right: 1px solid #f8f9fa;

}

.sticky-cell-width-100{ 
width: 100px;
}
.sticky-cell-width-30{ 
width: 30px;
}

.sticky-cell-width-150{
width: 150px;
}
.sticky-cell-width-50{
width: 50px;
}
.sticky-cell-width-75{
width: 75px;
}
.sticky-cell-obs{
color : #f78147;
font-size: 20px;
text-align: center;
}
.sticky-cell-file{
color : #007bff;  
text-align: center;
}

.sticky-cell-td-header{
color:rgb(104, 104, 255);  
font-size: 11px;
}

.column_detail_analisis_utility{
  color : green;
}

.column_expanded_utility{
  color : #687cfa;
}

.header-no-filter {
  height: 20px !important;
}
.dirty-row{
  background-color: #ebd5ac;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1550 !important;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

::ng-deep .cdk-overlay-container mat-datepicker-content{
  z-index:2000;
}

.default-row-utility{ 
  color:#634c06;
}

.green{ 
  color: green;
}

.blue{
  color: #3f51b5;
}
