<ng-template #modalCrud let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{table.crudModel.title}}</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <app-basic-crud [options]="table.crudModel" 
        (onchangeValue)="onchangeValue($event)"
        (onExecuteAction)="onExecuteActionCrud($event)"></app-basic-crud>
    </div>
    <!--
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="button_confirm"
            (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button mat-stroked-button type="button" class="button_cancel" (click)="executeSave()">Confirmar</button>
    </div>
-->
</ng-template>
<div class="col-md-12 pl-0" [hidden]="!table.tableIsLoading">
    <div class="tableSpinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="tableContainer" style="width: 100%;" *ngIf="!table.tableIsLoading && table.loadedConfiguration">
    <div class="tableFooter row m-0 p-0">
        <div class="col-md-4 d-flex align-items-center">
            <div *ngIf="table.title" class="pr-3 title">{{ table.title }}</div>
            <div *ngFor="let u of table.tableUtilities" class="pr-3" (click)="throwTableUtility(u.id)"
                matTooltip="{{u.tooltip()}}">
                <i class="fa {{u.faIcon()}}"></i>
            </div>
            <div *ngIf="table.showExportExcel" (click)="exportTableAsExcel()" class="pr-3"
                matTooltip="{{ 'Descarga de datos en fichero excel' | translate }}">
                <i class="fa fa-download"></i>
            </div>
            <div *ngIf="table.crudConf.insertable" (click)="openAddForm()" class="pr-3"
                matTooltip="{{ 'Añadir registro' | translate }}">
                <i class="fa fa-plus"></i>
            </div>
            <div *ngIf="!table.serverPagination">
                <input (keyup)="table.filterByGeneralText($event.target.value)" placeholder="Filtro"
                    [(ngModel)]="table.currentTextFilter">
            </div>
        </div>

        <div class="col-md-8 text-right" style="padding-top: 10px;">
            <span *ngIf="table.getRecordsPendingSave()>0" style="color: green;"><b>[{{table.getRecordsPendingSave()}}
                    pendientes de guardar]</b> | </span>
            <span *ngIf="table.totalElements"><b>{{table.totalElements}} {{table.msgNumResultados}}</b></span>
        </div>
    </div>
    <div class="availableElementsDiv pl-3 pr-5" *ngIf="table.showMovementOptions">
        <div class="draggableElement draggableAttribute" *ngFor="let m of table.attributes" draggable="true"
            (dragstart)="table.dragStart('a', m.id)" (dragend)="table.dragEnd('a', m.id)">
            {{table.getColumnTranslation(m.id)}}
        </div>
        <div class="bin" [class.binDraggedOn]="table.binDraggedOn" (dragenter)="table.binDraggedOn = true"
            (dragleave)="table.binDraggedOn = false" (dragover)="false" (drop)="table.drop_bin()">
        </div>
    </div>
    <div class="emptyTable" *ngIf="!table.serverPagination && table.showHeaderFilters">
        <div class="col-md-2 {{table.filterWidthClass} p-0" *ngFor="let filterId of table.displayedPageFilters; let i = index"
            id={{filterId}}>
            <div [hidden]=" (i % 4 !=0)" class="w_3_pc pfdd_height pfdd_div"
            [class.pfdd_div_draggedOn]="table.pagefilterDraggedOn == filterId && table.pagefilterDraggedOn_side == 'left'"
            (dragenter)="table.pagefilterDraggedOn = filterId; table.pagefilterDraggedOn_side = 'left'"
            (dragover)="false" (dragleave)="table.pagefilterDraggedOn = null" (drop)="table.drop_pf(filterId, 0)"></div>
        <div class="pfdd_height pl-2 pr-2 pt-1 pb-1" [class.w_94_pc]="(i % 4 == 0) " [class.w_97_pc]="(i % 4 != 0) ">
            <div class="draggableElement draggableAttribute" draggable="true" (dragend)="table.dragEnd('pf', filterId)"
                (dragstart)="table.dragStart('pf', filterId)">
                {{table.getColumnTranslation(table.displayedPageFiltersObjects[filterId].attribute)}}
            </div>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 90%">
                        <ng-multiselect-dropdown [placeholder]="' '"
                            [data]="table.displayedPageFiltersObjects[filterId].msModel.elements"
                            [(ngModel)]="table.displayedPageFiltersObjects[filterId].msModel.selectedElements"
                            [settings]="table.displayedPageFiltersObjects[filterId].msModel.settings"
                            (onSelect)="table.filterByPageFilter(false, false, filterId)"
                            (onDeSelect)="table.filterByPageFilter(false, false, filterId)"
                            (onSelectAll)="table.filterByPageFilter(true, false, filterId)"
                            (onDeSelectAll)="table.filterByPageFilter(false, true, filterId)">
                        </ng-multiselect-dropdown>
                    </td>
                    <td style="text-align: center;">
                        <a [ngStyle]="table.getStyleFilterApply(filterId)" (click)="table.applyFilter()">
                            <i title="Aplicar filtro" class="fa fa-search"></i> </a>
                    </td>
                    <td style="text-align: center;">
                        <a style="color: #e68080" (click)="table.removeFilter( filterId)">
                            <i title="Eliminar filtro" class="fa fa-times-circle"></i> </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="w_3_pc pfdd_height pfdd_div"
            [class.pfdd_div_draggedOn]="table.pagefilterDraggedOn == filterId && table.pagefilterDraggedOn_side == 'right'"
            (dragenter)="table.pagefilterDraggedOn = filterId; table.pagefilterDraggedOn_side = 'right'"
            (dragover)="false" (dragleave)="table.pagefilterDraggedOn = null" (drop)="table.drop_pf(filterId, 1)"></div>
    </div>
    <div class="col-md-12 emptyDropableDiv" [hidden]="table.displayedPageFilters.length > 0" (dragover)="false"
        (drop)="table.drop_pf('', 0)">
        <i>Arrastre elementos aquí para añadir filtros</i>
    </div>
</div>
<!-- Material Table -->

<div style="height: 600px; overflow: auto; border-bottom: 0px solid silver;">
    <table mat-table [dataSource]="table.dataSource" multiTemplateDataRows matSort
        (matSortChange)="table.sortData($event)" style="width: 100%;">
        
        <ng-container matColumnDef="{{column}}" *ngFor="let column of table.displayedColumns; let i = index"
            [sticky]="false">
            
            <th mat-header-cell *matHeaderCellDef>
                <div mat-sort-header class="draggableElement" draggable="true"
                    (dragstart)="table.dragStart('tc', column)" (dragend)="table.dragEnd('tc', column)">
                    <span *ngIf="(column != 'EDIT') && (column != 'DELETE') && (column != 'SELECT')"
                        (dragend)="table.buildTable()" (dragenter)="table.tableColumnDraggedOn = column;"
                        (dragleave)="table.tableColumnDraggedOn = null;" (dragover)="false"
                        (drop)="table.drop_tc(column)">
                        {{table.getColumnTranslation(column)}}
                    </span>
                </div>
                <!-- Header Segundo Nivel Filtro -->
                <div style="height: 30px;padding-top: 5px;" class="sh_border_top" *ngIf="!table.serverPagination">
                    <div *ngIf="getColumnType(column) == 'SELECT' && table.selectableAll">
                        <mat-checkbox style="margin-left: 2px;" [checked]="table.isSelectedAll()"
                            (change)="selectAll($event.checked)" title="Seleccionar todos / ninguno">
                        </mat-checkbox>
                    </div>
                    <div *ngIf="table.columnHasFilter(column) &&  !isUtilityColumn(column) && getColumnType(column) != 'SELECT'
                         
                        " class="columnFilterDiv">
                        <input (keyup)="table.filterByColumnText($event.target.value, column)"
                            [(ngModel)]="table.displayedColumnsFiltersObjects[column].value" placeholder="Filtro"
                            [hidden]="isUtilityColumn(column)">
                    </div>
                </div>
            </th>
            <td mat-cell *matCellDef="let row; let i = dataIndex" [class.utilityCell]="isUtilityColumn(column)">
                <div>
                    <span *ngIf="getColumnType(column) == 'DATA'"
                        [class.clickableCell]="table.onClickColumns.includes(column)"
                        (click)="clickOnTableElement(column, row[column])">
                        {{getContentFromDataColumn(row,column)}}
                    </span>
                    <span *ngIf="getColumnType(column) == 'DATE'"
                        [class.clickableCell]="table.onClickColumns.includes(column)"
                        (click)="clickOnTableElement(column, row[column])">
                        {{row[column] | date: getAllColumnAttributes(column).attributes.dateMask }}
                    </span>
                    <a *ngIf="getColumnType(column) == 'LINK'" href="{{row[column + '_HREF']}}" target="_blank">
                        <span *ngIf="column.endsWith('_ICON')"><i class="fa {{row[column]}}" aria-hidden="true"></i>
                        </span>
                        <span *ngIf="!column.endsWith('_ICON')">{{row[column]}}</span>
                    </a>

                    <span *ngIf="getColumnType(column) == 'EDIT'" class="editIcon">
                        <i class="fa fa-pencil" aria-hidden="true" (click)="openEditForm(row, i)"
                            matTooltip="Editar registro"></i>
                    </span>
                    <span *ngIf="getColumnType(column) == 'DELETE'" class="deleteIcon">
                        <i class="fa fa-trash-o" style="color:  #ff0000;" aria-hidden="true" (click)="openDeleteForm(row, i)"
                            matTooltip="Eliminar registro"></i>
                    </span>
                    <div *ngIf="getColumnType(column) == 'SELECT'" class="selectIcon">
                        <mat-checkbox [checked]="table.isSelectedRow(row)" (change)="selectRow($event.checked, row)"
                            title="Seleccionar"></mat-checkbox>
                    </div>

                    <div *ngIf="getColumnType(column) == 'ROWUTILITY'" class="rowUtilityIcon"
                        matTooltip="{{getAllColumnAttributes(column).attributes.tooltip}}"
                        (click)="throwTableRowUtility(column, row )">
                        <!--<span class="fa {{getAllColumnAttributes(column).attributes.icon}}"></span>-->
                        <span class="{{getClassRowUtility(column)}}"></span>

                    </div>

                    <!--<div *ngIf="getColumnType(column) == 'ROWUTILITY'" class="rowUtilityIcon" (click)="throwTableRowUtility(column, row, i)"
                        matTooltip="{{table.tableRowUtilityObjects[column].tooltip(row)}}">

                        <span *ngIf="table.tableRowUtilityObjects[column].innerHtml"
                            [innerHTML]="table.tableRowUtilityObjects[column].innerHtml"></span>
                        <span *ngIf="table.tableRowUtilityObjects[column].faIcon(row)"><i
                                class="fa {{table.tableRowUtilityObjects[column].faIcon(row)}}"
                                aria-hidden="true"></i></span>
                        <span *ngIf="table.tableRowUtilityObjects[column].innerHtmlFunction(row)"
                            [innerHTML]="table.tableRowUtilityObjects[column].innerHtmlFunction(row)"></span>
                        <span *ngIf="table.tableRowUtilityObjects[column].template">
                            <ng-container
                                *ngTemplateOutlet="table.tableRowUtilityObjects[column].template; context: {row: row}">
                            </ng-container>
                        </span>
                    </div>
                -->
                    <!--
                    <div *ngIf="getColumnType(column) == 'COLOR_FLAG'" class="d-flex flex-row align-items-center">
                        <div class="colorFlagIcon"><i class="fa fa-circle" aria-hidden="true"
                                [style.color]="row[column + '_FLAG_COLOR']"></i></div>
                        <div>{{row[column]}}</div>
                    </div>
                    <div *ngIf="getColumnType(column) == 'OBS' && row['OBSERVACIONES_ICON']" class="obscell">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </div>
-->
                    <div *ngIf="getColumnType(column) == 'CHECKBOX'" class="d-flex flex-row align-items-center">
                        <mat-checkbox [checked]="isCheckboxChecked(row, column)"
                            [disabled]="isCheckboxDisabled(row, column)"
                            (click)="onCheckboxChange($event, row, column)">
                        </mat-checkbox>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row [class.header-no-filter]="table.serverPagination"
            *matHeaderRowDef="table.displayedColumns;sticky: true"></tr>
        <tr [class.dirty-row]="row.dirty" mat-row *matRowDef="let row; columns: table.displayedColumns;" >
        </tr>
    </table>
    <div class="emptyTable" [hidden]="table.tableIsLoading || table.tableHasResults">
        <div>{{table.msgNoResultados}}</div>
    </div>
</div>
<mat-paginator (page)="getServerData($event)" [pageSizeOptions]="[table.pageSize]" [length]="table.totalElements"
    showFirstLastButtons></mat-paginator>