<div mat-dialog-content class="text-center pt-4 pb-4" style="font-size: 14px">
  <p>El registro será eliminado. ¿Desea continuar?</p>
</div>

<!-- Botones -->    
<div class="col-md-12 mt-3 text-center">
    <div class="btn-get-started ml-2" (click)="executeDelete()">Eliminar</div>
    <div class="btn-get-started btn-get-started-grey ml-2" (click)="cancel()">Cancelar</div>
</div>
