
.welcomeDiv{            
    width: 100%;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.37);*/
    padding: 30px 0px;
    color: white;
}

.welcomeDiv h1 {
    font-size: 38px;
    font-weight: bold;
}

.welcomeDiv h2 {
    font-size: 20px;
}