<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="data">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="mat-tree-node-custom-level1 ">
    <mat-checkbox *ngIf="conf.isSelectable" (change)="checkVariable(node)" [checked]="node.selected"  style="margin-left: 10px;"> </mat-checkbox>
    <a href=""  *ngIf="!conf.isSelectable" (click)="$event.preventDefault();clickNode(node)">
      <i class="fa fa-plus btn-assistant"></i> 
    </a>
    <button mat-icon-button disabled style="width: 10px;"></button>
    <span title="{{node.attributes.tooltip}}">{{node.name}}</span>
    <mat-icon aria-hidden="false" *ngIf="node.attributes.invalids" class="icon_warning">warning</mat-icon>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="mat-tree-node-custom ">
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>    
    <mat-checkbox *ngIf="conf.isSelectable" (change)="checkStation(node)" style="margin-right: 10px;" [(ngModel)]="node.selected"></mat-checkbox>
    <span title="{{node.attributes.tooltip}}" style="color:rgba(0, 56, 82, 1);">{{node.name}}</span>
    <mat-icon aria-hidden="false" *ngIf="node.attributes.invalids" class="icon_warning">warning</mat-icon>
  </mat-tree-node>
</mat-tree>