.mat-form-field {
    margin-right: 4px;
  }
  .mat-tree-node-custom  {
    height: 30px !important;
    min-height: 30px !important;

    }
    .mat-tree-node-custom-level1  {
      height: 30px !important;
      min-height: 30px !important;
      
      }    
.icon_warning 
{
  color: red;
}    
