.menu_active
{
	//color : #5d9cec;
    font-weight: bold;
    color: #2196F3;
    display: block;
	border-radius: 3px;
}

span.menu_active{
	background: #f5f7fa !important;
    padding: 7px 5px;
}

.height_menu_0
{
	height:0px;
}


.height_menu_auto
{
	height:auto;
}
.mainMenu{
    position: fixed;
    top: 48px;
    bottom: 0;
    left: 0;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    line-height: 30px;
    font-size: 18px;
    padding-top: 20px;
    z-index: 1;
}

.mainMenu .fa{
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: block;
    line-height: 36px;
}


.mainMenu .fa:hover, .mainMenuOptionHighlighted{
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.mainMenu .fa:hover, .mainMenuOptionHighlighted{
    cursor: pointer;
    color: white;
    font-size: 24px;
}
 

.mainMenu .fa:hover, .mainMenuOptionDisabled{
    cursor: pointer;
    color: #868e96;
    font-size: 24px;
}
