<div class="mainMenu" *ngIf="profile"> 
    <ng-container *ngFor="let section of sections">
        
        <i  class="{{getClassSelected(section)}}" aria-hidden="true" matTooltip="{{section.tooltip}}" matTooltipPosition="right"
        *ngIf="(section.public || profile.permisos.includes(section.section)) && !section.disabled"
        (click)="clickOnMainMenuOption(section.route)"
        ></i>
        <i  class="{{getClassDisabled(section)}}"
        *ngIf="section.disabled"  
        ></i>

    </ng-container>
</div>