/*tr.example-detail-row {
    height: 0 !important;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: block;    
    width: 100%;
  }
*/
  .example-element-detail-table {
    min-width: 70%;
    margin-left: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
    border : 1px solid #ddc2c2;
  }
  .example-element-header {
    height: 30px;
    text-align: left;
    color: black;
    background-color: #ebebeb;
  }

  .example-element-header-td {
    padding: 10px;
  }
  .example-element-cell {
    background-color: white;
    padding-left: 10px;
    height: 30px;
    text-align: left;
  }
  .custom-modal .modal-dialog {
    max-width: 400px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-element-detail-table-history {
    min-width: 100%;
    font-size: 12px;
    margin-top: 5px;
    border : 1px solid #ddc2c2;
  }

  label, .checkboxLabel{
    font-size: 12px;
    margin-bottom: 0px !important;
}
.mat-button-toggle-group {
  font-size: 10px;
  margin-left: 12px;
  padding: 5px;
}
