<ng-template #modalErrorDescription let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Error</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body">
        <div *ngIf='errorMsgModal' [innerHTML]=errorMsgModal class="panel_warning"></div>
    </div>

    <div class="modal-footer">
        <div style="position: relative">
            <button mat-stroked-button type="button" (click)="modal.dismiss('Cross click')">Cerrar</button>
        </div>
    </div>
</ng-template>
<ng-template #modalCrearImpreso let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Creación de impreso</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div> ¿Desea continuar con la creación del informe de tipo:
            <b>{{_impresosService.getTipoImpreso(tipoSelected).name}}?</b></div>
        <fieldset class="form-group" style="margin-top:20px">
            <table style="width: 100%;text-align: left ">
                <tr>
                    <td>
                        <mat-checkbox class="checkboxLabel" [(ngModel)]="incluirInsitu"></mat-checkbox> Marque
                        si desea incluir parámetros In Situ junto con sus observaciones.
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-checkbox disabled class="checkboxLabel" [(ngModel)]="incluirParamsLabExternos">
                        </mat-checkbox> Marque
                        si desea incluir parámetros de laboratorios externos.
                    </td>
                </tr>
            </table>
        </fieldset>
        <div *ngIf='errorMsgCrear' [innerHTML]=errorMsgCrear class="panel_warning">
        </div>
    </div>


    <div class="modal-footer">
        <div style="position: relative">
            <button mat-stroked-button type="button" (click)="previsualizar()" *ngIf="allowGenerarModal"
                class="button_other ">Previsualizar</button>
            <button mat-stroked-button type="button" (click)="saveCrear()" class="button_confirm "
                *ngIf="allowGenerarModal">Generar</button>
            <button mat-stroked-button type="button" (click)="modal.dismiss('Cross click')"
                class="button_cancel ">Cancelar</button>
        </div>
    </div>
</ng-template>

<ng-template #modalBorrar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmación de borrado de impreso</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div> ¿Desea continuar con el borrado del informe seleccionado <b>{{itemSelected.COD_IMPRESO}}</b>?</div>
    </div>
    <div class="modal-footer">
        <div style="position: relative">
            <button mat-stroked-button type="button" (click)="saveBorrar()">Confirmar</button>
            <button mat-stroked-button type="button" (click)="modal.dismiss('Cross click')">Cancelar</button>
        </div>
    </div>
</ng-template>
<ng-template #modalConfirmation let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmación de cambio de estado</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div> Seleccione el nuevo estado de validación del informe {{itemSelected.COD_IMPRESO}}:<br>
            <div style="margin-top: 10px;">
                <ng-container *ngFor="let item of listStatus">
                    <mat-button-toggle-group>
                        <mat-button-toggle value="item.id" (click)="selectEstado(item.id)"
                            [ngStyle]="getStatusStyle(item)">
                            <span style="font-size:12px;padding:5px">{{item.name}}</span></mat-button-toggle>
                    </mat-button-toggle-group>
                </ng-container>
            </div>
            <div *ngIf="estadoSelected!=null" style="margin-top: 10px;">
                Estado seleccionado : <b>{{_impresosService.getEstadoById(estadoSelected).name}}</b>
            </div>

        </div>
        <div>
            <mat-form-field class="example-full-width">
                <textarea [(ngModel)]="observaciones" matInput placeholder="Añada un comentario si lo desea"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="modal-footer">
        <div style="position: relative">
            <button mat-stroked-button type="button" (click)="saveValidar()" class="button_confirm ">Confirmar</button>
            <button mat-stroked-button type="button" (click)="modal.dismiss('Cross click')"
                class="button_cancel ">Cancelar</button>
        </div>
    </div>
</ng-template>
<ng-template #modalAtributos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edición de otros atributos</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="modal-body">
            <div>Desde aquí puede cambiar manualmente los siguientes atributos del informe seleccionado
                {{itemSelected.COD_IMPRESO}}:
            </div>
            <fieldset class="form-group" style="margin-top:20px">
                <table style="width: 100%;text-align: center;">
                    <tr>
                        <td>
                            <mat-checkbox class="checkboxLabel" [(ngModel)]="enviado"></mat-checkbox> Enviado
                        </td>
                        <td>
                            <mat-checkbox class="checkboxLabel" [(ngModel)]="firmado"></mat-checkbox> Firmado
                        </td>
                    </tr>
                </table>
            </fieldset>

        </div>
    </div>
    <div class="modal-footer">
        <div style="position: relative">
            <button mat-stroked-button type="button" (click)="saveEditar()" class="button_confirm "> Confirmar</button>
            <button mat-stroked-button type="button" (click)="modal.dismiss('Cross click')"
                class="button_cancel ">Cancelar</button>
        </div>
    </div>
</ng-template>
<ng-template #modalHistory let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Historial de cambios del informe {{itemSelected.COD_IMPRESO}}
        </h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div>
            <div style="height:300px; overflow:auto;font-size: 12px;">
                <table class="example-element-detail-table-history">
                    <thead>
                        <tr class="example-element-header">
                            <td class="example-element-header-td">Usuario</td>
                            <td class="example-element-header-td">Fecha de cambio</td>
                            <td class="example-element-header-td">Estado</td>
                            <td class="example-element-header-td">Anotaciones</td>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let item of history">
                        <tr class="example-element-cell ">
                            <td class="example-element-header-td">{{item.COD_USUARIO}}</td>
                            <td class="example-element-header-td">
                                {{item.FECHA_CAMBIO | amDateFormat: 'DD/MM/YYYY  HH:mm'  }}</td>
                            <td class="example-element-header-td">
                                {{_impresosService.getEstadoById(item.COD_ESTADO).name}}</td>
                            <td class="example-element-header-td">{{item.OBSERVACION}}</td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div style="position: relative">
            <button mat-stroked-button type="button" (click)="modal.dismiss('Cross click')">Cerrar</button>
        </div>
    </div>
</ng-template>

<ng-container #table_container *ngIf="element.LIST_IMPRESOS">
    <table class="example-element-detail-table">
        <thead>

            <tr class="example-element-header">
                <td class="example-element-header-td">Tipo</td>
                <td class="example-element-header-td">Nº Impr.</td>
                <td class="example-element-header-td">Estado</td>
                <td class="example-element-header-td">Enviado</td>
                <td class="example-element-header-td">Firmado</td>
                <td></td>
            </tr>
        </thead>
        <tr class="example-element-cell " *ngIf="element.LIST_IMPRESOS.length==0">
            <td class="example-element-header-td" colspan="6" style="text-align: center;">
                Actualmente este análisis no dispone de impresos generados.
            </td>
        </tr>
        <ng-container *ngFor="let item of element.LIST_IMPRESOS">
            <tr class="example-element-cell ">
                <td class="example-element-header-td">{{_impresosService.getTipoImpreso(item.COD_TIPO_IMPRESOS).name}}
                </td>
                <td class="example-element-header-td">{{item.COD_IMPRESO}}</td>
                <td class="example-element-header-td">
                    <i matTooltip="Ver historial de revisiones" (click)="showHistory(item)" class="fa fa-info-circle"
                        style="margin-right: 5px;"></i>{{_impresosService.getEstadoById(item.ESTADO_IMPRESO).name}}
                </td>
                <td class="example-element-header-td">{{_utilitiesService.translateFlagtoText(item.ENVIADO)}}</td>
                <td class="example-element-header-td">{{_utilitiesService.translateFlagtoText(item.FIRMADO)}}</td>
                <td class="example-element-header-td">
                    <i style='margin-left: 10px;font-size: 14px' class="fa fa-download" (click)="download(item)"
                        matTooltip="Descargar PDF"></i>
                    <i style='margin-left: 10px;font-size: 14px;color: green;' class="fa fa-check-square-o"
                        (click)="openValidar(item)" matTooltip="Pasar a siguiente nivel de validación"></i>
                    <i style='margin-left: 10px;font-size: 14px;color: #ef1a72;' class="fa fa-pencil-square-o"
                        (click)="openEditar(item)" matTooltip="Editar otros atributos"></i>
                   <i style='margin-left: 10px;font-size: 14px;color:red;' class="fa fa-trash" *ngIf="isRoot()"
                        (click)="openBorrar(item)" matTooltip="Eliminar impreso"></i>
                </td>
            </tr>
        </ng-container>
        <tr *ngIf="allowGenerar">
            <td colspan="6" style="padding-right: 20px;padding-bottom: 10px;background-color: white;">
                <mat-menu #tiposimpreso="matMenu" style="font-size: 10px;">
                    <ng-container *ngFor="let tipo of tiposImpreso">
                        <button (click)="openCrearImpreso(tipo.id)" style="font-size: 12px;"
                            mat-menu-item>{{tipo.name}}</button>
                    </ng-container>
                </mat-menu>
                <div class="mat-button-toggle-title" matTooltip="Haga click para generar distintos tipos de impresos"
                    [matMenuTriggerFor]="tiposimpreso" style="font-size: 10px;width: 100px;height: 20px;float: right;">
                    Generar impreso<i style='margin-left: 10px' class="fa fa-caret-down"></i></div>

            </td>
        </tr>
    </table>
</ng-container>