<!-- Loading -->
<div class="col-md-12 pl-0" [hidden]="!table.tableIsLoading">
    <div class="tableSpinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="tableContainer" style="width: 100%;" [hidden]="!table.tableIsLoaded || table.tableIsLoading ">
    <!-- External Filters -->
    <div class="externalFiltersDiv mb-1 pb-2" [hidden]="!table.hasExternalFilters">
        <div class="{{table.filterWidthClass}}" *ngFor="let filterId of table.externalFilters; let i = index">
            <label>{{ table.parentId + '.' + table.id + '.' + filterId | translate }}</label>
            <select class="form-control" name="filterId"
                [(ngModel)]="table.externalFiltersObjects[filterId].selectedItem" (change)="table.buildTable()">
                <option value=""></option>
                <option *ngFor="let m of table.externalFiltersObjects[filterId].keyList" [value]="m">{{m}}</option>
            </select>
        </div>
    </div>
    <!-- Possible subcomponent -->         
    <app-graficos-control-grafica
        [grafica]="table.subcomponentObject" 
        [tableService]="table._genericTableCommonService"
        *ngIf="table._genericTableCommonService && table.hasSubcomponent && (table.subcomponentId == 'app-graficos-control-grafica')">
    </app-graficos-control-grafica>
    <!-- Chart -->
    <div class="col-md-12 pt-5 pb-4 chart" [hidden]="!table.showChart">
        <canvas #chartcanvas>{{ table.chart }}</canvas>
    </div>
    <!-- Table utilities -->
    <div class="tableFooter row m-0 p-0" *ngIf="!table.simpleSuperHeader">
        <!-- Export buttons-->
        <div class="col-md-4 d-flex align-items-center">
            <!-- Título -->
            <div *ngIf="table.title" class="pr-3 title">{{ table.title }}</div>
            <!-- Export icon -->
            <div *ngIf='configuration && configuration.showexpandTable' (click)="expandTable()" class="pr-3"
                matTooltip="{{ 'Tabla expandida sin paginación' | translate }}">
                <i class="fa fa-expand"></i>
            </div>
            <!-- Utilidades -->
            <div *ngFor="let u of table.tableUtilities" class="pr-3" (click)="throwTableUtility(u.id)"
                matTooltip="{{u.tooltip()}}">
                <i class="fa {{u.faIcon()}}"></i>
            </div>
            <!-- Export icon -->
            <div (click)="exportTableAsExcel()" class="pr-3"
                matTooltip="{{ 'Descarga de datos en fichero excel' | translate }}">
                <i class="fa fa-download"></i>
            </div>
            <!-- Insert icon -->
            <div *ngIf="table.insertable" (click)="openAddForm()" class="pr-3"
                matTooltip="{{ 'Añadir registro' | translate }}">
                <i class="fa fa-plus"></i>
            </div>
            <!-- Text filter -->
            <div [hidden]="!table.showExternalTextFilter">
                <input (keyup)="table.filterByGeneralText($event.target.value)"
                    placeholder="Filtro" [(ngModel)]="table.currentTextFilter">
            </div>
        </div>
        <!-- Número de resultados-->
        <div class="col-md-8 text-right">
            <b>{{table.numberOfResults}} resultados</b><br>
            <span [hidden]="!table.showReviewStickyColumn">
                <mat-checkbox class="checkboxLabel" (change)="onChangeStickyColumn()"
                    matTooltip="Active esta utilidad para facilitar la lectura de resultados cuando aparezca scroll horizontal en la tabla."
                    [(ngModel)]="table.reviewStickyColumnSelected"></mat-checkbox> Bloqueo de columnas
                maestras&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span [hidden]="!table.showShowPageFilters">
                <mat-checkbox class="checkboxLabel" [(ngModel)]="table.showPageFilters"></mat-checkbox> Filtros
                generales &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span [hidden]="!table.showShowColumnFilters">
                <mat-checkbox class="checkboxLabel" [(ngModel)]="table.showColumnFilters"></mat-checkbox> Filtros en
                tabla &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span [hidden]="!table.showShowMovementOptions">
                <mat-checkbox class="checkboxLabel" [(ngModel)]="table.showMovementOptions"></mat-checkbox> Elementos
                disponibles &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span [hidden]="!table.showShowSubtotals">
                <mat-checkbox class="checkboxLabel" [(ngModel)]="table.showSubtotals"
                    (change)="table.showHideSubtotals()"></mat-checkbox> Subtotales
            </span>
        </div>
    </div>
    <!-- Table utilities SIMPLE -->
    <div class="simpleSuperHeader" *ngIf="table.simpleSuperHeader">
        <!-- Expand table buton-->
        <i class="fa fa-download" (click)="exportTableAsExcel()"
            matTooltip="{{ 'Descarga de datos en fichero excel' | translate }}"></i>
        <!-- Número de resultados-->
        <div class="tableNumberOfRresultsDiv">
            <b>{{table.numberOfResults}} resultados</b> &nbsp;&nbsp;&nbsp;
            <span>
                <mat-checkbox class="checkboxLabel" [(ngModel)]="table.showSubtotals"
                    (change)="table.showHideSubtotals()"></mat-checkbox> Subtotales
            </span>
        </div>
        <!-- Text filter -->
        <div class="tableFilterDiv" [hidden]="!table.showExternalTextFilter">
            <input (keyup)="table.filterByGeneralText($event.target.value)"
                placeholder="Filtro" [(ngModel)]="table.currentTextFilter">
        </div>
    </div>
    <!-- Atributos y métricas disponibles + Papelera-->
    <div class="availableElementsDiv pl-3 pr-5" [hidden]="!table.showShowMovementOptions || !table.showMovementOptions">
        <div class="draggableElement draggableAttribute" *ngFor="let m of table.attributes" draggable="true"
            (dragstart)="table.dragStart('a', m)" (dragend)="table.dragEnd('a', m)">
            {{table.getColumnTranslation(m)}}
        </div>
        <div class="draggableElement draggableMetric" *ngFor="let m of table.metrics" draggable="true"
            (dragend)="table.dragEnd('a', m)" (dragstart)="table.dragStart('a', m)">
            {{table.getColumnTranslation(m)}}
        </div>
        <div class="bin" [class.binDraggedOn]="table.binDraggedOn" (dragenter)="table.binDraggedOn = true"
            (dragleave)="table.binDraggedOn = false" (dragover)="false" (drop)="table.drop_bin()">
        </div>
    </div>
    <!-- Page filters -->
    <div class="emptyTable" [hidden]="!table.showPageFilters">
        <div class="{{table.filterWidthClass}} p-0" *ngFor="let filterId of table.displayedPageFilters; let i = index"
            id={{filterId}}>
            <div [hidden]="(i % 4 != 0) || (table.simpleSuperHeader)" class="w_3_pc pfdd_height pfdd_div"
                [class.pfdd_div_draggedOn]="table.pagefilterDraggedOn == filterId && table.pagefilterDraggedOn_side == 'left'"
                (dragenter)="table.pagefilterDraggedOn = filterId; table.pagefilterDraggedOn_side = 'left'"
                (dragleave)="table.pagefilterDraggedOn = null"
                (dragover)="table.metrics.includes(table.draggedElement.id)" (drop)="table.drop_pf(filterId, 0)"></div>
            <div class="pfdd_height pl-2 pr-2 pt-1 pb-1" [class.w_94_pc]="(i % 4 == 0) && !table.simpleSuperHeader"
                [class.w_97_pc]="(i % 4 != 0) && !table.simpleSuperHeader" [class.col-md-12]="table.simpleSuperHeader">
                <div class="draggableElement draggableAttribute" draggable="true"
                    (dragend)="table.dragEnd('pf', filterId)" (dragstart)="table.dragStart('pf', filterId)">
                    {{table.getColumnTranslation(table.displayedPageFiltersObjects[filterId].attribute)}}
                </div>
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 90%">
                            <ng-multiselect-dropdown [placeholder]="' '"
                                [data]="table.displayedPageFiltersObjects[filterId].msModel.elements"
                                [(ngModel)]="table.displayedPageFiltersObjects[filterId].msModel.selectedElements"
                                [settings]="table.displayedPageFiltersObjects[filterId].msModel.settings"
                                (onSelect)="table.filterByPageFilter(false, false, filterId)"
                                (onDeSelect)="table.filterByPageFilter(false, false, filterId)"
                                (onSelectAll)="table.filterByPageFilter(true, false, filterId)"
                                (onDeSelectAll)="table.filterByPageFilter(false, true, filterId)">
                            </ng-multiselect-dropdown>
                        </td>
                        <td style="text-align: center;">
                            <a [ngStyle]="table.getStyleFilterApply(filterId)" (click)="table.applyFilter( filterId)">
                                <i title="Aplicar filtro" class="fa fa-search"></i> </a>
                        </td>
                        <td style="text-align: center;">
                            <a style="color: #e68080" (click)="table.removeFilter( filterId)">
                                <i title="Eliminar filtro" class="fa fa-times-circle"></i> </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="w_3_pc pfdd_height pfdd_div" [hidden]="table.simpleSuperHeader"
                [class.pfdd_div_draggedOn]="table.pagefilterDraggedOn == filterId && table.pagefilterDraggedOn_side == 'right'"
                (dragenter)="table.pagefilterDraggedOn = filterId; table.pagefilterDraggedOn_side = 'right'"
                (dragleave)="table.pagefilterDraggedOn = null"
                (dragover)="table.metrics.includes(table.draggedElement.id)" (drop)="table.drop_pf(filterId, 1)"></div>
        </div>
        <div class="col-md-12 emptyDropableDiv" [hidden]="table.displayedPageFilters.length > 0" (dragover)="false"
            (drop)="table.drop_pf('', 0)">
            <i>Arrastre elementos aquí para añadir filtros</i>
        </div>
    </div>
    <!-- Material Table -->
    <div style="height: 600px; overflow: auto; border-bottom: 0px solid silver;">
        <table mat-table [dataSource]="table.dataSource" multiTemplateDataRows matSort *ngIf="configuration"
            (matSortChange)="table.sortData($event)" style="width: 100%;" border="0"
            [class.my-mat-header-row]="!table.smallMetricsInHeader"
            [class.smallMultiHeaderMetric]="table.smallMetricsInHeader">
            <!-- Cabecera -->
            <ng-container matColumnDef="{{column}}" *ngFor="let column of table.displayedColumns; let i = index"
                [sticky]="table.isStickyColumn(column)">
                <th mat-header-cell *matHeaderCellDef
                    [class.sh_vertical_align_bottom]="table.getEmptySuperHeaderColumn(column,i)"
                    [class.sh_top-1]="table.getSuperHeaders(column, i).length>0"
                    [class.sh_vertical_align_top]="!table.getEmptySuperHeaderColumn(column,i)"
                    [class.sh_border]="table.getSuperHeaders(column, i).length>0"
                    [class.mat_header_not_display]="table.isHideSpecically(column)">
                    <!-- Super Header  Primer Encabezado-->
                    <ng-container *ngFor="let sh of table.getSuperHeaders(column, i); let rowIndex = index">
                        <div *ngIf="rowIndex == 0" class="super_header_first_row">
                            <!-- Hay contenido en la cabecera -->
                            <div *ngIf="!table.getEmptyContentColumnSuperHeader(sh)" class="sh_border_bottom"
                                [class.columnWidth200]="table.fixedWidthHeaders.includes(column)"
                                [class.smallMultiHeaderMetric]="table.smallMetricsInHeader"
                                [class.blueBoldColor]="table.smallMetricsInHeader && rowIndex == 0"
                                [class.metricSeparator]="table.displayedMetrics.includes(column) && sh.name"
                                [class.metricHardSeparator]="table.hardSeparatorColumns.includes(column)"
                                style="width: 100%;font-weight: 700;">
                                <div class="draggableElement draggableMetric ">
                                    {{sh.name}}
                                </div>
                            </div>
                            <div *ngIf="table.getEmptyContentColumnSuperHeader(sh)" class="super_header_first_row"
                                [class.sh_border_bottom]="!table.getEmptySuperHeaderColumn(column,i)">
                            </div>
                        </div>
                    </ng-container>
                    <!-- Super Header  Resto de  encabezado-->
                    <div>
                        <ng-container *ngFor="let sh of table.getSuperHeaders(column, i); let rowIndex = index">
                            <ng-container *ngIf="rowIndex >0 ">
                                <div *ngIf="sh.name!='NO-SH'" [class.blueColor]="table.smallMetricsInHeader"
                                    [class.metricSeparator]="table.displayedMetrics.includes(column) && sh.name"
                                    [class.metricHardSeparator]="table.hardSeparatorColumns.includes(column)"
                                    style="width: 100%;font-weight: 700;">
                                    <div class="draggableElement draggableMetric ">
                                        {{sh.name}}
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <!-- Header Primer Nivel -->
                    <div mat-sort-header class="draggableElement" draggable="configuration.dragablecolumns"
                        (dragstart)="table.dragStart('tc', column)" (dragend)="table.dragEnd('tc', column)"
                        [class.draggableAttribute]="table.displayedAttributes.includes(column)"
                        [class.shBlue]="table.displayedMetrics.includes(column)">
                        <span
                            *ngIf="(!table.setDisplayedMetricsFunction || table.displayedAttributes.includes(column)) && (column != 'EDIT') && (column != 'DELETE') && (column != 'SELECT')"
                            (dragend)="table.buildTable()" (dragenter)="table.tableColumnDraggedOn = column;"
                            (dragleave)="table.tableColumnDraggedOn = null;"
                            (dragover)="configuration.dragablecolumns ? ((table.attributes.includes(column) && table.metrics.includes(table.draggedElement.id)) || (table.metrics.includes(column) && table.attributes.includes(table.draggedElement.id))) : null"
                            (drop)="table.drop_tc(column)">
                            <div style="font-size: 12px;"
                                [class.draggableMetric]="table.displayedMetrics.includes(column)"
                                [class.metricSeparator]="table.displayedMetrics.includes(column)"
                                [class.metricHardSeparator]="table.hardSeparatorColumns.includes(column)"
                                *ngIf="table.displayedAttributes.includes(column) ||(!table.hasMultipleHeader && table.displayedMetrics.includes(column))">
                                <ng-container
                                    *ngIf="!(table.isStickyColumn(column) && table.reviewStickyColumnSelected)">
                                    {{table.getColumnTranslation(column)}}
                                </ng-container>
                            </div>
                            <span *ngIf="table.hasMultipleHeader && table.displayedMetrics.includes(column)"
                                [class.metricSeparator]="table.displayedMetrics.includes(column)"
                                [class.metricHardSeparator]="table.hardSeparatorColumns.includes(column)"
                                class="draggableMetric">
                                {{ column.indexOf('@') == -1 ? column : column.split('@')[column.split('@').length-1]}}
                            </span>
                        </span>
                        <span [class.metricSeparator]="table.displayedMetrics.includes(column)"
                            [class.metricHardSeparator]="table.hardSeparatorColumns.includes(column)"
                            *ngIf="table.setDisplayedMetricsFunction && table.displayedMetrics.includes(column) && (column != 'EDIT') && (column != 'DELETE') && (column != 'SELECT')">
                            {{ column }}
                        </span>
                    </div>
                    <!-- Header Segundo Nivel Filtro -->
                    <div style="height: 30px;" class="sh_border_top"
                        [class.sh_border_left]="!table.getEmptySuperHeaderColumn(column,i)"
                        [class.metricSeparator]="table.displayedMetrics.includes(column)"
                        [class.metricHardSeparator]="table.hardSeparatorColumns.includes(column)">
                        <div *ngIf="getColumnType(column) == 'SELECT'">
                            <mat-checkbox style="margin-left: 2px;" [checked]="table.isSelectedAll()"
                                (change)="table.selectAll($event.checked)" title="Seleccionar todos / ninguno">
                            </mat-checkbox>
                        </div>
                        <div *ngIf="table.columnHasFilter(column) &&  !isUtilityColumn(column) && getColumnType(column) != 'SELECT'
                        && ((table.isStickyColumn(column) && !table.reviewStickyColumnSelected) || (!table.isStickyColumn(column)))
                        " class="columnFilterDiv">
                            <!--
                            <i [ngClass]="table.getClassStickyColumn(column)"></i>
                            -->
                            <input (keyup)="table.filterByColumnText($event.target.value, column)"
                                [(ngModel)]="table.displayedColumnsFiltersObjects[column].value"
                                placeholder="Filtro" [hidden]="isUtilityColumn(column)">
                        </div>
                        <div *ngIf="table.isStickyColumn(column) && table.reviewStickyColumnSelected"
                            [innerHtml]="getColumnHeaderStickyContent()">
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row; let i = dataIndex"
                    [class.highlightColumnChange]="table.highlightColumnChangesColumns.includes(column)"
                    [class.highlightChange]="row['CHANGE']"
                    [class.metricSeparator]="table.displayedMetrics.includes(column)"
                    [class.metricHardSeparator]="table.hardSeparatorColumns.includes(column)"
                    [class.text-right]="table.displayedMetrics.includes(column)"
                    [class.mat_header_not_display]="table.isHideSpecically(column)"
                    [class.trSubtotal_1]="table.totalColumns.includes(column)" 
                    [class.editingRow]="row['EDITING']"
                    [class.active]="row['__ACTIVE__']" [class.utilityCell]="isUtilityColumn(column)"
                    [class.cell_measure_observations]="getMeasureObservations(column,row)">                    
                    <div class="{{row[column + '_CSSCLASS'] ? row[column + '_CSSCLASS'] : ''}} {{table.ellipsisColumns.includes(column) ? 'ellipsisColumn' : ''}}"
                        [matTooltip]="getCellTitle(row,column)">
                        <span *ngIf="getColumnType(column) == 'DATA' && !getColumnStickyContent(row, column)"
                            [class.clickableCell]="table.onClickColumns.includes(column)"
                            (click)="clickOnTableElement(column, row[column])">
                            {{row[column]}}
                            <i class="fa fa-info-circle" *ngIf="getMeasureObservations(column, row)"
                                style="color: black" matTooltipClass="allow-cr"></i>
                        </span>
                        <span *ngIf="getColumnType(column) == 'DATA' && getColumnStickyContent(row, column)">
                            <div [innerHtml]="getColumnStickyContent(row, column)"></div>
                        </span>
                        <a *ngIf="getColumnType(column) == 'LINK'" href="{{row[column + '_HREF']}}" target="_blank">
                            <span *ngIf="column.endsWith('_ICON')"><i class="fa {{row[column]}}" aria-hidden="true"></i>
                            </span>
                            <span *ngIf="!column.endsWith('_ICON')">{{row[column]}}</span>
                        </a>
                    
                        <span *ngIf="getColumnType(column) == 'EDIT'" class="editIcon">
                            <i class="fa fa-pencil" aria-hidden="true" (click)="openEditForm(row, i)"
                                matTooltip="Editar registro"></i>
                        </span>
                        <span *ngIf="getColumnType(column) == 'DELETE'" class="deleteIcon">
                            <i class="fa fa-trash-o" aria-hidden="true" (click)="openDeleteForm(row, i)"
                                matTooltip="Eliminar registro"></i>
                        </span>
                        <div *ngIf="getColumnType(column) == 'SELECT'" class="selectIcon">
                            <mat-checkbox [checked]="table.isSelectedRow(row)"
                                (change)="table.selectRow($event.checked, row)" title="Seleccionar"></mat-checkbox>
                        </div>
                        
                        <div *ngIf="getColumnType(column) == 'ROWUTILITY'" class="rowUtilityIcon"
                            (click)="throwTableRowUtility(column, row, i)"
                            matTooltip="{{table.tableRowUtilityObjects[column].tooltip(row)}}">
                            
                            <span *ngIf="table.tableRowUtilityObjects[column].innerHtml"
                                [innerHTML]="table.tableRowUtilityObjects[column].innerHtml"></span>
                            <span *ngIf="table.tableRowUtilityObjects[column].faIcon(row)"><i
                                    class="fa {{table.tableRowUtilityObjects[column].faIcon(row)}}"
                                    aria-hidden="true"></i></span>
                            <span *ngIf="table.tableRowUtilityObjects[column].innerHtmlFunction(row)"
                                [innerHTML]="table.tableRowUtilityObjects[column].innerHtmlFunction(row)"></span>
                            <span *ngIf="table.tableRowUtilityObjects[column].template">
                                <ng-container
                                    *ngTemplateOutlet="table.tableRowUtilityObjects[column].template; context: {row: row}">
                                </ng-container>
                            </span>                              
                                
                                </div>
                        <div *ngIf="getColumnType(column) == 'COLOR_FLAG'" class="d-flex flex-row align-items-center">
                            <div class="colorFlagIcon"><i class="fa fa-circle" aria-hidden="true"
                                    [style.color]="row[column + '_FLAG_COLOR']"></i></div>
                            <div>{{row[column]}}</div>
                        </div>
                        <div *ngIf="getColumnType(column) == 'OBS' && row['OBSERVACIONES_ICON']" class="obscell">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                        <div *ngIf="getColumnType(column) == 'CHECKBOX'" class="d-flex flex-row align-items-center">
                            <mat-checkbox [checked]="isCheckboxChecked(row, column)"
                                [disabled]="isCheckboxDisabled(row, column)"
                                (click)="onCheckboxChange($event, row, column)">
                            </mat-checkbox>
                        </div>
                    </div>
                </td>
            </ng-container>
            <!-- Headers -->
            <tr mat-header-row *matHeaderRowDef="table.displayedColumns;sticky: true"></tr>
            <!-- Content -->
            <ng-container matColumnDef="impresosExpandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="table.displayedColumns.length">
                    <div class="example-element-detail" [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'">
                        <app-impresos-subtable [element]='element' [forceRender]=forceRender
                            (onDataChange)="impresosDataChanged($event)"></app-impresos-subtable>
                    </div>
                </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: table.displayedColumns;" 
                [class.example-expanded-row]="row.expanded" (click)="expandRow($event, row)"
                [class.trSubtotal_1]="row.SUBTOTAL_1" [class.trSubtotal_2]="row.SUBTOTAL_2"
                [class.hideMetricSortArrows]="table.hideMetricSortArrows && !row.SUBTOTAL"></tr>
            <tr mat-row *matRowDef="let row; columns: ['impresosExpandedDetail']" class="example-detail-row"></tr>
        </table>
        <!-- No data -->
        <div class="emptyTable" [hidden]="!table.tableIsLoaded || table.tableIsLoading || table.tableHasResults">
            <div>{{'No se han encontrado resultados' | translate}}</div>
        </div>
    </div>
    <!-- Paginator [hidden]="!table.showPaginator" -->
    <mat-paginator [hidden]="!table.showPaginator" [pageSizeOptions]="[table.showPaginator ? table.pageRows : 1000000]"
        showFirstLastButtons></mat-paginator>
    <!-- Loading -->
    <div class="table-spinner-bg" *ngIf="table.refreshing">
        <div class="table-spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>