.filterContainer{
    background-color: #dbdbdb;
}

.filterSummary{
    width: 100%;
    height: 36px;
    padding: 0px 16px !important;
    font-weight: normal;
    font-size: 12px;
    color: #959595;
    display: flex;
    align-items: center;
}

.filterSummary .fa{
    color: #959595;
}

.filterSummary .fa-plus{
    color: #7b8fba;
}

label, .checkboxLabel{
    font-size: 12px;
    margin-bottom: 0px !important;
}

select, input{    
    font-size: 12px !important;
    margin-bottom: 0;
    height: 26px !important;
    padding: 0px 2px !important;
}

fieldset{
    margin-bottom: 0px !important;
    padding-bottom: 5px !important;
}

.form-control{
    border-radius: 2px !important;
    font-size: 0.7rem;
}

.form-control:focus, .btn-outline-secondary:focus {
    box-shadow: none !important;
}

.form-control:disabled {
    background-color: #d7d7d7 !important;
    opacity: 1;
}

.inputCalendarButton{
    padding: 0px 5px !important;
    border: 0px !important;
    color: #222 !important;
}

.inputCalendarButton:hover{
    background-color: inherit !important;
    color: #868e96 !important;
}

.errorValidacion {
    font-size: 12px;
    color: red;
    margin-top: 10px;
}


/* Movimiento open/close */

.toggleFiilterIcon{
    font-size: 20px;
    cursor: pointer;
    width: 30px;
}

.dashboardFilter{
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dashboardFilterShown60px{
    height: auto;    
    padding-bottom: 5px;
}

.dashboardFilterShown120px{
    height: auto;    
    padding-bottom: 5px;
}

.dashboardFilterHidden{
    overflow: hidden;
    height: 0px;    
    padding-bottom: 0px;
}

.form-group {
    margin-bottom: 5px !important;
}




/* Multiselect */
.dropdown-btn{
    height: 26px;
    padding: 0px !important;
    background-color: white !important;
    border: 1px solid #ced4da !important;
    border-radius: 2px !important;
}

.dropdown-down{
    border-top: 5px solid #a6a6a6 !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
}

.dropdown-up{
    border-bottom: 5px solid #adadad !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
}

.dropdown-list{
    border-radius: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.dropdown-list ul{
    position: relative !important;
}

.dropdown-list .item1{
    overflow: hidden !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    max-width: 85% !important;
    max-height: 20px !important;
    overflow: hidden !important;
}

.dropdown-btn{
    color: #222;
    font-size: 12px;
}
.multiselect-item-checkbox div {
    color: #222 !important;
    font-size: 12px !important;
    padding-left: 20px !important;
}

.multiselect-item-checkbox div:before {
    color: #337ab7 !important;
    width: 12px !important;
    height: 12px !important;
    margin-top: -7px !important;
    border: 1px solid #337ab7 !important;
    -webkit-animation: none !important;
    animation: none !important;
}

.multiselect-item-checkbox div:after {
    -webkit-transform: rotate(-45deg) scale(0.8) !important;
    transform: rotate(-45deg) scale(0.8) !important;
    left: 2px !important;
}

.selected-item {
    border: 0px !important;
    font-size: 12px !important;
    margin: 3px !important;
    color: #222 !important;
    background-color: inherit !important;
}

.selected-item:hover {
    box-shadow: none !important;
}

.selected-item a {
    display: none;
}

.dropdown-list li {
    padding: 4px 6px 0px 6px !important;
}

.dropdown-list .item1 li {
    padding: 4px 6px 4px 6px !important;
}

.item2{
    padding-bottom: 4px !important;
}

//ng2-multidr
.custom-class-example {
    color: #ccc;
}
.custom-class-example .c-token{
    background: #38d574 !important;
}
.custom-class-example .pure-checkbox label::before {
    border-color: #38d574 !important;
}
.custom-class-example .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
    background: #38d574 !important;
}
.filter-dirty{
    color: #3f51b5 !important;
    font-weight: bold;

}