
<div class="gcchartTitle col-md-12 mb-0">    
    <div class="row">
        <div class="col-md-12 pt-2">
            <i class="fa fa-angle-double-up toggleFiilterIcon" [hidden]="collapsed" (click)="toggle()"></i>
            <i class="fa fa-angle-double-down toggleFiilterIcon" [hidden]="!collapsed" (click)="toggle()"></i>
        </div>
    </div>
</div>

<div class="col-md-12 gcchart" [class.gcchartOpened]="!collapsed" [class.gcchartClosed]="collapsed">

    <div class="row">

        <div class="col-md-4 pt-0 pl-5">

            <div class="row" *ngIf="grafica.hasFiltroPatrones">  
                <div class="col-md-6">           
                    <label>Parámetro</label>
                    <select class="form-control" name="tipoImpresoList" [(ngModel)]="grafica.parametroSelected" (change)="grafica.loadChart()">
                        <option value=""></option>
                        <option *ngFor="let m of grafica.parametroCombo" [value]="m">{{m}}</option>
                    </select>
                </div>   
                <div class="col-md-6">           
                    <label>Método PNT</label>
                    <select class="form-control" name="metodoCombo" [(ngModel)]="grafica.metodoSelected" (change)="grafica.loadChart()">
                        <option value=""></option>
                        <option *ngFor="let m of grafica.metodoCombo" [value]="m">{{m}}</option>
                    </select>
                </div>   
            </div>

            <div class="row" *ngIf="grafica.hasFiltroPatrones">  
                <div class="col-md-6">           
                    <label>Patrón</label>
                    <select class="form-control" name="patronCombo" [(ngModel)]="grafica.patronSelected" (change)="grafica.loadChart()">
                        <option value=""></option>
                        <option *ngFor="let m of grafica.patronCombo" [value]="m">{{m}}</option>
                    </select>
                </div>   
            </div>

            <div class="row">
                <div class="col-md-6" [hidden]="grafica.sinLimiteInferior">
                    <fieldset class="form-group">
                        <label>Límite inferior</label>
                        <input class="form-control" (keyup)="grafica.loadChart()" [(ngModel)]="grafica.limiteInferior">
                        </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label>Límite superior</label>
                        <input class="form-control" (keyup)="grafica.loadChart()" [(ngModel)]="grafica.limiteSuperior">
                        </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset class="form-group">
                        <label>Media</label><br/>
                        <span class="meanValue">{{grafica.media}}</span>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset class="form-group">
                        <label>Desviación estándar</label><br/>
                        <span class="meanValue">{{grafica.desviacionEstandar}}</span>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset class="form-group">
                        <label>Coeficiente de variación</label><br/>
                        <span class="meanValue">{{grafica.coeficienteVariacion}}</span>
                    </fieldset>
                </div>
            </div>
        </div>

        <!-- Gráfica -->
        <div class="col-md-8 pt-0 pb-2" style="position: relative;">
            <i class="fa fa-picture-o exportChartIcon" aria-hidden="true" (click)="grafica.exportChartToPngImage()" matTooltip="Exportar gráfica"></i>
            <canvas #chartcanvas>{{ grafica.chart }}</canvas>
        </div>

    </div>

</div>

