
.gcchartTitle{    
    background-color: rgba(241, 241, 241, 0.9);
    color: #222 !important;
    border-bottom: 0;
    border-radius: 0px;
}

.gcchart{
    background-color: rgba(241, 241, 241, 0.9);
    color: #222 !important;
    border-top: 0;
    border-radius: 0px;

    overflow: hidden;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.gcchartOpened{
    height: auto;    
    padding-bottom: 10px;
}

.gcchartClosed{
    height: 0px;    
    padding-bottom: 0px;
}



.gcchart label{
    color: #222 !important;
}

.form-group input{
    padding: 0px 5px !important;
}

.meanValue{
    color: blue;
    font-weight: bold;
    font-size: 13px;
}
