
.loginDiv{
    color: #444;
    background-color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.loginDiv > * {
  width: 100%;
}

.loginDiv .fa{
    padding-right: 10px;
}

.loginDiv input{
    font-size: 14px !important;
    padding-top: 6px !important;
}

.loginButton {
    background-color: #125f84;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in;
}

.loginButton:hover {
    background-color: #2dc997;
}

.loginButton .fa{
    padding: 0;
    margin: 0 auto;
}

.loginErrorDiv{
    font-weight: normal;
    font-size: 13px;
    color: red;
    padding-top: 14px;
}

.loginSpinner{    
    right: 24px;
    left: unset !important;
    top: 30px !important;
    width: 60px !important;
    height: 0px !important;
}

.loginSpinner > div {
    background-color: #444 !important;
    width: 12px !important;
    height: 12px !important;
    margin-left: 4px !important;
} 

