<div class="row" >
    <div class="col-md-4 loginDiv p-5 mx-auto">
        <mat-form-field>
            <input matInput placeholder="Usuario" [(ngModel)]="codUsuario" (keydown)="onKeydown($event)">
            <i class="fa fa-user" aria-hidden="true" matPrefix></i>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Contraseña" type="password" [(ngModel)]="password"
                (keydown)="onKeydown($event)">
            <i class="fa fa-lock" aria-hidden="true" matPrefix></i>
        </mat-form-field>
        <div class="p-0 pt-3 position-relative">
            <div class="loginButton float-right" (click)="login()"><i class="fa fa-arrow-right"
                    aria-hidden="true"></i></div>
            <div class="spinner loginSpinner" [hidden]="!userLoading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="loginErrorDiv" [hidden]="!userNok">Usuario incorrecto</div>            
        </div>
    </div>
</div>


