
/* ********************** */
/* ********************** */
/* ********************** */
/* ********************** */
/* LOGIN & GENERAL LAYOUT */


/* HEADER */

.navbar {
    z-index: 2000;
    padding: 2px !important;
    background-color: rgba(0, 0, 0, 0.9);
    height: 48px;
    display: flex;
    align-items: center;
    color: white;
}

.appTitle{
    padding-top: 6px;
    font-weight: bold;
    font-size: 26px;
}

.appSubtitle{
    font-weight: normal;
    font-size: 13px;
    display: inline-block;
    line-height: 16px;
    text-align: right;
}

.appUser{    
    font-size: 25px !important;    
}
.appUser .fa{
    cursor: pointer;
}
.appUser ul{
    width: max-content;
}
.appUser ul li{
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 20px;
}
.appUser ul .dropdown-item{
    padding: 10px 20px; 
}
.appUser ul h5, .appUser ul a{
    font-size: 14px;
}

.dropdown-toggle::after{
    border: 0 !important;
    display: none;
} /* elminamos flecha */

.navbar .nav-item > a, .navbar .nav-item > a:active { 
    color: white !important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: white !important;
}

.media-body h5 {
    font-size: 13px;
    font-weight: 600;
}

.dropdown-menu{
    font-size: 14px;
}

.dropdown-item.active, .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        left: auto !important;
    }
}


/* Layout */


#fixedBackgroundClear {
    width: 100%;
    height: 100vH;
    background-size: cover;
    position: fixed;
    background: rgba(0,0, 0, .03);
}


.mainContent{
    position: absolute;
    margin-top: 48px;
    padding: 13px 20px 20px 60px; 
    color: #222;
    width: 100%; 
}

.mainMenu{
    position: fixed;
    top: 48px;
    bottom: 0;
    left: 0;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: silver;
    line-height: 30px;
    font-size: 18px;
    padding-top: 20px;
    z-index: 1;
}

.mainMenu .fa{
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: block;
    line-height: 36px;
}

.mainMenu .fa:hover, .mainMenuOptionHighlighted{
    cursor: pointer;
    color: white;
    font-size: 24px;
}

/* Welcome message */

.welcomeDiv{            
    width: 100%;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.37);*/
    padding: 30px 0px;
    color: white;
}

.welcomeDiv h1 {
    font-size: 38px;
    font-weight: bold;
}

.welcomeDiv h2 {
    font-size: 20px;
}

/* LOGIN */

.loginDiv{
    color: #444;
    background-color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.loginDiv > * {
  width: 100%;
}

.loginDiv .fa{
    padding-right: 10px;
}

.loginDiv input{
    font-size: 14px !important;
    padding-top: 6px !important;
}

.loginButton {
    background-color: rgb(240, 81, 104);
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in;
}

.loginButton:hover {
    background-color: #2dc997;
}

.loginButton .fa{
    padding: 0;
    margin: 0 auto;
}

.loginErrorDiv{
    font-weight: normal;
    font-size: 13px;
    color: red;
    padding-top: 14px;
}

.loginSpinner{    
    right: 24px;
    left: unset !important;
    top: 30px !important;
    width: 60px !important;
    height: 0px !important;
}

.loginSpinner > div {
    background-color: #444 !important;
    width: 12px !important;
    height: 12px !important;
    margin-left: 4px !important;
} 


/* LOGIN & GENERAL LAYOUT */
/* ********************** */
/* ********************** */
/* ********************** */
/* ********************** */






/* Formularios */


label, .checkboxLabel{
    font-size: 12px;
    margin-bottom: 0px !important;
}

select, input{    
    font-size: 12px !important;
    margin-bottom: 0;
    height: 26px !important;
    padding: 0px 2px !important;
}

textarea{
    padding: 2px 4px !important;
}

fieldset{
    margin-bottom: 0px !important;
    padding-bottom: 5px !important;
}

.form-control{
    border-radius: 2px !important;
    font-size: 0.7rem;
    border: 1px solid silver !important; 
}

.form-control:focus, .btn-outline-secondary:focus {
    box-shadow: none !important;
}

.form-control:disabled {
    background-color: #d7d7d7 !important;
    opacity: 1;
}

.inputCalendarButton{
    padding: 0px 5px !important;
    border: 0px !important;
    color: white !important;
}

.inputCalendarButton:hover{
    background-color: inherit !important;
    color: #868e96 !important;
}


/* Botones generales */

.btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 6px;
    transition: 0.5s;
    margin: 4px 0px;
    cursor: pointer;
    background-color: #222;
    color: white;
}

.btn-get-started-grey{
    background-color: grey;
}

.btn-welcome{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    transition: 0.5s;
    cursor: pointer;    
    width: 100%;
    text-transform: none;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
}

 
.btn-get-started:hover, .btn-welcome:hover {
    background: #2dc997;
    border-color: #2dc997;
    text-decoration: none !important;
    color: white !important;
}

.btn-get-started-small {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 4px 14px;
    border-radius: 6px;
    transition: 0.5s;
    margin: 4px 0px;
    cursor: pointer;
    background-color: #222;
    color: white;
}

.btn-get-starter-small:hover {
    background: #2dc997;
    border-color: #2dc997;
    text-decoration: none !important;
    color: white !important;
}
.btn-get-started-small-grey{
    background-color: grey;
}


/* Multiselect */

.dropdown-btn{
    height: 26px;
    padding: 0px !important;
    background-color: white !important;
    border: 1px solid silver !important;
    border-radius: 2px !important;
}

.dropdown-down{
    border-top: 5px solid #a6a6a6 !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    padding-top: 1px !important;
}

.dropdown-up{
    border-bottom: 5px solid #adadad !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    padding-top: 1px !important;
}

.dropdown-list{
    border-radius: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.multiselect-item-checkbox div {
    color: #222 !important;
    font-size: 12px !important;
    padding-left: 20px !important;
}

.multiselect-item-checkbox div:before {
    color: #337ab7 !important;
    width: 12px !important;
    height: 12px !important;
    margin-top: -7px !important;
    border: 1px solid #337ab7 !important;
    -webkit-animation: none !important;
    animation: none !important;
}

.multiselect-item-checkbox div:after {
    -webkit-transform: rotate(-45deg) scale(0.8) !important;
    transform: rotate(-45deg) scale(0.8) !important;
    left: 2px !important;
}

.multiselect-item-checkbox input + div {
    min-height: 18px;
}

.selected-item {
    border: 0px !important;
    font-size: 12px !important;
    margin: 3px !important;
    color: #222 !important;
    background-color: inherit !important;
}

.selected-item:hover {
    box-shadow: none !important;
}

.selected-item a {
    display: none;
}

.dropdown-btn span{
    font-size: 11px;
    padding-top: 4px;
}

.dropdown-list ul {
    position: relative;
}

.dropdown-list li {
    padding: 4px 6px 0px 6px !important;
}

.dropdown-list .item1 li {
    padding: 4px 6px 4px 6px !important;
}

.item2{
    padding-bottom: 4px !important;
}

.no-data h5{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}




/* Material Button Toggle */

.mat-button-toggle-title{    
    background-color: rgba(1, 41, 126, 0.5);
    text-align: center;
    height: 28px;
    border-radius: 4px;
    margin-top: 1px;
    font-size: 14px;
    padding: 3px;
    color: white;
}

.mat-button-toggle .fa{
    margin-right: 4px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 30px !important;
    font-size: 14px !important;
    padding: 0px !important;
}

.mat-button-toggle-appearance-standard {
    color: rgb(255, 255, 255);
    background: rgba(227, 227, 227, 0.57);
}

.mat-button-toggle-appearance-standard:hover, .mat-button-toggle-checked {
    background-color:  rgba(255, 255, 255, 0.85) !important;
    color: #222;
}

.mat-button-toggle-group-appearance-standard{
    border: 0 !important;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
    border-left: solid 1px rgba(255, 255, 255, 0.5);
}

/* Red */

.mainButtonToggleRed .mat-button-toggle-appearance-standard {
    background: rgba(255, 0, 0, 0.4);
}

.mainButtonToggleRed .mat-button-toggle-appearance-standard:hover, 
.mainButtonToggleRed .mat-button-toggle-checked {
    background-color: rgba(218, 48, 48, 0.6) !important;
    color: white;
}

/* Blue */

.mainButtonToggleBlue .mat-button-toggle-appearance-standard {
    background: rgba(2, 161, 140, 0.67);
}

.mainButtonToggleBlue .mat-button-toggle-appearance-standard:hover, 
.mainButtonToggleBlue .mat-button-toggle-checked {
    background: rgba(2, 161, 140, 1) !important;
    color: white;
}

.mainButtonToggleBlue .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
   padding: 0 0px !important;
}

/* Tabs */

.mat-tab-label {
    padding: 0 20px !important;
    min-width: 10px !important;
}

/* Color Picker */

.color-picker {
    border: #a9a9a9 solid 1px !important;
}

.color-picker .cursor {
    border: #222 solid 1px !important;
}

/* NG5 Slider */ 

.ng5-slider-span {
    font-size: 11px !important;
}

.ng5-slider-pointer {
    width: 12px !important;
    height: 12px !important;
    top: -4px !important;
}

.ng5-slider-pointer:after {
    width: 6px !important;
    height: 6px !important;
    top: 3px !important;
    left: 3px !important;
}

.ng5-slider .ng5-slider-bubble {
    top: 16px !important;
}

.ng5-slider {
    margin: 15px 0 15px !important;
}

.btn-get-started-small {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 4px 14px;
    border-radius: 6px;
    transition: 0.5s;
    margin: 4px 0px;
    cursor: pointer;
    background-color: #222;
    color: white;
}

.btn-get-starter-small:hover {
    background: #2dc997;
    border-color: #2dc997;
    text-decoration: none !important;
    color: white !important;
}
.btn-get-started-small-grey{
    background-color: grey;
}
