<div class="row pb-2">
    <!-- Título -->
    <div class="col-md-2">
        <div class="mat-button-toggle-title" style="background-color: rgba(0, 56, 82, 1);">
            <i class="{{root.class}}" aria-hidden="true"></i>&nbsp;{{root.title}}<nav></nav>
        </div>
    </div>
    <div class="col-md-10">
        <div class="mainButtonToggle">
            <mat-button-toggle-group value="{{getSelectedOption()}}" class="mainButtonToggleRed">
                <div class="row m-0">
                    <ng-container *ngFor="let section of sections">
                        <mat-button-toggle *ngIf="section.public" class="col-sm"
                            value="{{section.route}}" [ngClass]="getClassToogle(section)"
                            (click)="selectOption(section)">
                            <i class="fa fa-check" aria-hidden="true" *ngIf="section.selected"></i>{{section.title}}
                        </mat-button-toggle>
                    </ng-container>
                </div>
            </mat-button-toggle-group>
        </div>
    </div>
</div>