<div *ngIf="filter.elementMap[elementId].type == 'TX'">
    <fieldset class="form-group" style="padding-bottom: 0px !important;margin-bottom: 0px !important;">
        <input type="text" class="form-control" name="elementId"
            [(ngModel)]="filter.elementMap[elementId].selectedValue" (change)="setDirty()"
            [ngStyle]="{'width': getWidthInput(filter.elementMap[elementId]) }">
    </fieldset>
</div>
<!-- Select -->
<div *ngIf="filter.elementMap[elementId].type == 'SS'"
    [ngStyle]="{'width': getWidthInput(filter.elementMap[elementId]) }">
    <fieldset class="form-group" style="padding-bottom: 0px !important;margin-bottom: 0px !important;">
        <select class="form-control" name="elementId" [(ngModel)]="filter.elementMap[elementId].selectedValue"
            (change)="filter.change(elementId);setDirty()">
            <option value="" *ngIf="filter.elementMap[elementId].defaultOption"></option>
            <option *ngFor="let m of filter.elementMap[elementId].data" [value]="m.COD">
                {{m.DESCR}}1</option>
        </select>
    </fieldset>
</div>
<!-- Multiselect -->
<div *ngIf="filter.elementMap[elementId].type == 'MS'"
    [ngStyle]="{'width': getWidthInput(filter.elementMap[elementId]) }">
    <fieldset class="form-group" style="padding-bottom: 0px !important;margin-bottom: 0px !important;">
        <ng-multiselect-dropdown [placeholder]="' '" [data]="filter.elementMap[elementId].msModel.elements"
            [(ngModel)]="filter.elementMap[elementId].msModel.selectedElements"
            [settings]="filter.elementMap[elementId].msModel.settings" (onSelect)="filter.change(elementId);setDirty()"
            (onDeSelect)="filter.change(elementId);setDirty()" (onSelectAll)="filter.change(elementId);setDirty()"
            (onDeSelectAll)="filter.change(elementId);setDirty()">
        </ng-multiselect-dropdown>
    </fieldset>
</div>
<!-- Multiselect Virtual -->
<div *ngIf="filter.elementMap[elementId].type == 'MSV'"
    [ngStyle]="{'width': getWidthInput(filter.elementMap[elementId]) }">    
    <fieldset class="form-group" style="padding-bottom: 0px !important;margin-bottom: 0px !important;">
        <angular2-multiselect [data]="filter.elementMap[elementId].msModel.elements"
            [(ngModel)]="filter.elementMap[elementId].selectedValue"
            [disabled]= true
            [settings]="filter.elementMap[elementId].msModel.settings"
            [loading]="filter.elementMap[elementId].msModel.loading" (onSelect)="filter.change(elementId);setDirty()"
            (onDeSelect)="filter.change(elementId);setDirty()" (onSelectAll)="filter.change(elementId);setDirty()"
            (onDeSelectAll)="filter.change(elementId);setDirty()"
            (onScrollToEnd)="filter.elementMap[elementId].msModel.fetchMore($event, filter.elementMap[elementId])">
            <c-search>
                <ng-template>
                    <input type="text"
                        (keyup)="filter.elementMap[elementId].msModel.onSearch($event, filter.elementMap[elementId])"
                        placeholder="Buscar" style="border: none;width: 100%; height: 100%;outline: none;" />
                </ng-template>
            </c-search>
        </angular2-multiselect>
    </fieldset>
</div>
<!-- Date -->
<div *ngIf="filter.elementMap[elementId].type == 'DT'">
    <fieldset class="form-group" style="padding-bottom: 0px !important;margin-bottom: 0px !important;">
        <div class="input-group" style="width: 120px;">
            <input class="form-control" placeholder="dd/mm/yyyy" name="elementId" autocomplete="off"
                [matDatepicker]="mdp" [(ngModel)]="filter.elementMap[elementId].selectedValue"
                (dateChange)="filter.change(elementId);setDirty()" (click)="mdp.open()" style="width: 2vh"
                [ngClass]="getClassDirty()" [disabled]="filter.elementMap[elementId].disabled">
            <mat-datepicker #mdp></mat-datepicker>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton" (click)="mdp.open()"
                    type="button"></button>
            </div>
        </div>
    </fieldset>
</div>