.navbar {
    z-index: 2000;
    padding: 2px !important;
    background-color: rgba(0, 0, 0, 0.9);
    height: 48px;    
    align-items: center;
    color: white;
}
.logo-right{
    height: 35px;
    vertical-align: inherit;
    border-radius : 50%;
}
.appTitle{
    padding-top: 6px;
    font-weight: 500;
    font-size: 26px;
}

.appSubtitle{
    font-weight: normal;
    font-size: 13px;
    display: inline-block;
    line-height: 16px;
    text-align: right;
    min-width: 250px;
}
.appUser{    
    font-size: 25px !important;    
}
.appUser .fa{
    cursor: pointer;
}
.appUser ul{
    width: max-content;
}
.appUser ul li{
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 20px;
}
.appUser ul .dropdown-item{
    padding: 10px 20px; 
}
.appUser ul h5, .appUser ul a{
    font-size: 14px;
}

.dropdown-toggle::after{
    border: 0 !important;
    display: none;
} /* elminamos flecha */

.navbar .nav-item > a, .navbar .nav-item > a:active { 
    color: white !important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: white !important;
}

.media-body h5 {
    font-size: 13px;
    font-weight: 600;
}

.dropdown-menu{
    font-size: 14px;
    left: -120px !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        left: auto !important;
    }
}