/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './angular2.multiselect.drowpdown.default.theme.css';
@import "arca.css";
@import "./../app/layout/utils/styles/generic.table.css";
@import "./../app/layout/utils/styles/generic.layout.css";
@media print {
    .breadcrumb {
        display: none !important;
    }
}
.wide-menu {
    max-width: none !important;
}
