button:focus {
    outline: 0px !important;
}
.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
    background-color: #b0b0b0;
}
/* SNACKBAR */
.mat-simple-snackbar {
    font-size: 13px !important;
}
.snackBar{
    position: absolute;
    top: 60px;
    right: 10px;
    margin: 0px !important;
    font-size: 11px;
}
.snackBar-ok{
    color: white;
    background-color: #545454;
}
.snackBar-ko{
    color: white;
    background-color: #c10000;
}
/* LOGIN */
.mat-form-field-label {
    padding-left: 3px;
    margin-top: 12px;
    font-size: 14px !important;
}
.panel_success {
    background-color:#91e2a4;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    }
.panel_warning {
    background-color: #eb8d8d;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    }
.button_confirm  {
    background-color: #b3efb3;
    margin-right : 10px !important;
  }
  .button_cancel  {
    background-color: #ffafb7;
    margin-right : 10px !important;
  }
  .button_other  {
    background-color: white;
    margin-right : 10px !important;
  }
