
.tableContainer{
    border: 1px solid #dbdbdb;
}

.my-mat-header-row thead tr{
    height: 30px !important;
}

.smallMultiHeaderMetric thead tr{
    height: 15px !important;
}

tr.mat-header-row {
    border-top: 0px solid #d3d3d3 !important;
    /*height: 30px !important;*/
    background-color: #ebebeb;
    
    
}

.smallMultiHeaderMetric tr .noBorderBottom {
    border-bottom: 0px;
}

.smallMultiHeaderMetric tr .noBorderLeft {
    border-left: 0px;
}
/*
.blueBoldColor{
    color: #687cfa !important;
    font-weight: bold;
}
.blueColor{
    color: #687cfa !important;
    font-weight: normal;
}
*/

.blueBoldColor .draggableMetric{
    color: #687cfa !important;
    font-weight: bold;
}


.blueColor .draggableMetric{
    color: #687cfa !important;
}

.blueColordraggableMetric{
    color: #687cfa !important;
}

.columnWidth200 {
    width: 200px;
}


/* Tablas */

.tableTitle{    
    width: 100%;
    background-color: #dbdbdb;
    color: #7c7c7c;
    font-size: 13px;
    padding: 5px 10px;
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
}

.emptyTable{
    width: 100%;
    color: #222;
    min-height: 30px;
    font-size: 12px;
    padding: 5px 10px;    
    display: flex;
    flex-wrap: wrap;
    /*padding-bottom: 12px;*/
    background-color: #f7f7f7;
}

.emptyTable label{
    color: #687cfa;
}

.emptyTable select{
    margin-bottom: 0px;
}

.externalFiltersDiv{
    width: 100%;
    background-color: rgba(255,255,255,.8);
    color: #222;
    min-height: 30px;
    font-size: 14px;
    padding: 5px 10px;    
    display: flex;
    flex-wrap: wrap;
}

tr.mat-footer-row, tr.mat-row {
    height: 32px !important;
}

.mat-paginator-container {
    min-height: 40px !important;
    background-color: #dbdbdb;
}

.mat-paginator-page-size{
    display: none !important;
}

.tableFooter{    
    width: 100%;
    height: 38px;
    background-color: #dbdbdb;
    display: table;
    color: #7c7c7c;
    font-size: 12px;
}

.tableFooter .fa{
    cursor: pointer;
    font-size: 16px;
}

.tableFooter input{    
    border: 0px;
    border-bottom: 1px solid silver;
    width: 100%;
    background-color: inherit;
}

.tableFooter input:focus{    
    outline: none !important;
}

.tableSpinner{
    position: absolute;
    top: 0px;
    left: 2px;
}
.tableSpinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.tableSpinner > div {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: #222;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.trSubtotal_1, .hideMetricSortArrows .mat-column-Total{
    font-weight: bold;
    background-color: #f4f4f4;
}

.trSubtotal_2{
    font-weight: bold;
    background-color: #e5e5e5 !important;
    text-transform: uppercase;
}

.mat-checkbox-inner-container{
    height: 12px !important;
    width: 12px !important;
    margin-top: -3px !important;
}

.mat-checkbox-frame {
    border-width: 1px !important;
    border-radius: 0px !important;
    border-color: #999999 !important;
}

.text-right .mat-sort-header-container{
    float: right;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 10px !important;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 10px !important;
}

.metric button{
    color: #ff0057 !important;
}

.columnFilterDiv {
    width: 100%;
    /*padding-right: 30px;*/
    color: #687cfa;
    font-size: 12px;
}

.columnFilterDiv input{
    border: 0px;
    /*border-bottom: 1px solid silver;*/
    width: 40px;
    background-color: inherit;
    font-size: 10px !important;
    padding: 0px !important;
}

.columnFilterDiv input:focus{    
    outline: none !important;
}

.columnFilterDivMetric {
    padding-right: 0px !important;
    padding-left: 30px !important;
    color: #ff0057;
    text-align: right;
}

.columnFilterDivMetric input{
    text-align: right !important;
}

.columnFilterDiv .fa {
    cursor: pointer;    
    padding-right: 5px;
}

.lastAttributeColumn{
    border-right: 1px solid rgba(0,0,0,.12);
}

.hideMetricSortArrows{
    padding: 0px 5px !important;
}
.hideMetricSortArrows .draggableMetric{
    /*margin-right: 5px !important;*/
    padding: 0px 5px !important;
}
.hideMetricSortArrows .draggableElement {
    margin: 0px !important;

}
.hideMetricSortArrows .mat-sort-header-arrow{
    display: none;
}

.highlightRowChange{
    border-bottom-width: 1px !important;
    border-bottom-color: #818181 !important;
}
.highlightColumnChange{
    border-left-width: 2px !important;
    border-left-color: #818181 !important;
    border-left-style: solid !important;
}


.metricWidth40{
    width: 40px;
}
.metricWidth70{
    width: 70px;
}


.mat-sort-header-button{
    padding: 0 !important;
    font-size: 11px !important;
    color: #6868ff !important;
    text-align: left;
}

.mat-sort-header-arrow {
    color: #faa5c4 !important;
}

.mat-cell {
    font-size: 11px !important;
    padding-right: 5px !important;
}

.mat-paginator-page-size-select {
    width: 56px !important;
}

.mat-sort-header-arrow, [dir=rtl] .mat-sort-header-position-before .mat-sort-header-arrow {
    margin: 0 0 0 0px !important;
}





/* Utils for drag&drop */

.availableElementsDiv{    
    padding: 5px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.tableColumnDraggedOn, .pagefilterDraggedOn{
    background-color: #c8c8c8;
}

.bin{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    text-align: center;
    width: 40px;
    border-radius: 100px;
    color: #fb9595;
}

.bin::after{
    font-family: FontAwesome;
    content: "\f070";
}

.binDraggedOn{
    color: #d46363 !important;
}

.draggableElement{
    margin: 0px;
    font-size: 12px;
    padding: 0px;
    width: fit-content;
    display: inline-table;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
}

.availableElementsDiv .draggableElement{
    margin-right: 10px;
}

.draggableAttribute{
    color: #687cfa;
    cursor: pointer;
}

.draggableMetric{
    color: #ff0057;
    cursor: pointer;    
    margin: 0px 3px 0px 0px; /* Para el cambio de orden con las flechas */    
    overflow: hidden;
    white-space: nowrap;
}

.draggableMetricBlueBold{
    color: #687cfa !important;
    cursor: pointer;    
    margin: 0px 3px 0px 0px; /* Para el cambio de orden con las flechas */    
    overflow: hidden;
    white-space: nowrap;
}

.smallMultiHeaderMetric .draggableMetric{
    font-size: 10px;
}

.smallD

.emptyDropableDiv{
    font-size: 12px;
    color: #686868;
}

.changeArrowPosition .mat-sort-header-container{
    /* Para el cambio de orden con las flechas */
    flex-direction: row-reverse;
}

/* Charts */

.chart{
    background-color: white;
}

.exportChartIcon{
    position: absolute;
    color: #058be5;
    cursor: pointer;
    right: 20px;
}

/* Edición de registros */

.editIcon .fa{
    color: #7b8fba;
    font-size: 16px;
    cursor: pointer;
 
}

.deleteIcon .fa{
    color: #7b8fba;
    font-size: 16px;
    cursor: pointer;
}

.colorFlagIcon .fa{
    font-size: 14px;
    padding-right: 5px;
}

.rowUtilityIcon{
    color: #e57e7e;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.editingRow{
    background-color: #dcfdfd !important;
}

.active {
    background-color: #f1af59 !important;
}

.title {
    font-weight: bold;
    font-size: 150%;
}

.utilityCell{
    width: 30px;
    text-align: center;
}

.utilityCell .mat-sort-header-container{
    margin-right: 4px;
}

td.mat-cell:first-of-type.utilityCell {
    padding-left: 5px !important;
    width: 35px;
}

.utilityCell div .mat-sort-header-arrow {
    display: none;
}

.nowIcon .fa{
    position: absolute;
    right:0;
    top: 220px;
    margin: 5px 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 80px;
    padding: 5px;
    color: #605f5f;
    background-color: silver;
    color: #222;
    cursor: pointer;
}

.dashboardEdition{
    overflow: hidden;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #dddddd !important;
    border-bottom-width: 1px !important;
    border-bottom-color: #c9adad !important;
    color:black;
}


.dashboardEditionShown{
    /*height: 60px;*/
    height: auto;    
    padding-bottom: 5px;
}

.dashboardEditionHidden{
    height: 0px;    
    padding-bottom: 0px;
}

.updateIcon .fa{
    
    font-size: 16px;
    cursor: pointer;
    color: #222;
}

.closeEdition{
    
    color: #222; 
    font-size: 16px;
    cursor: pointer;
}





/* LOADING */

.table-spinner-bg{
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.table-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70px;
}

.table-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.table-spinner > div {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: #222;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}


/* Cell classes */

.clickableCell{
    cursor: pointer;
    color: #687cfa;
}
.clickableCell:hover{
    color: #aeb9ff;
}

.tdMinWidth235{
    min-width: 235px;
}

.flagNivelEstado{
    padding-right: 3px;
}


/* Simple Header */

.simpleSuperHeader{   
    position: relative; 
    width: 100%;
    height: 0px;
    background-color: #dbdbdb;
    display: table;
    color: white
}

.simpleSuperHeader .fa{
    position: absolute;
    right: 8px;
    top: -22px;
    cursor: pointer;
    color: #7c7c7c;
}

.simpleSuperHeader .tableNumberOfRresultsDiv{
    position: absolute;
    right: 146px;
    top: -24px;
    color: #7c7c7c;
    font-size: 12px;
}

.simpleSuperHeader .tableFilterDiv{    
    position: absolute;
    right: 40px;
    top: -36px;
    color: white;
    width: 100px;
}

.simpleSuperHeader .tableFilterDiv input{    
    color: white;
}

.tableFilterDiv{
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 12px;
    width: 33%;
    color: #222;   
}

.tableFilterDiv input{    
    border: 0px;
    border-bottom: 1px solid silver;
    width: 100%;
    background-color: inherit;
}

.tableFilterDiv input:focus{    
    outline: none !important;
}

.tableFilterDiv .mat-form-field{
    width: inherit;
}

.inputCalendarButton{
    padding: 0px 5px !important;
    border: 0px !important;
    color: white !important;
}

.inputCalendarButtonNoColor{
    padding: 0px 5px !important;
    border: 0px !important;
}

/* Imágenes */

.imageTitleSpan{
    font-size: 12px;
}

.fullScreenIcon, fullScreenIcon:hover{
    position: absolute;
    top: 5px;
    right: 5px;
    color: white !important;
    cursor: pointer;
    font-size: 16px;    
    background-color: black;
    padding: 0px 3px;
}

.nextIconDiv {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 20px;
    color: white;
}

.nextIconDiv .fa{
    cursor: pointer;
    padding-right: 5px;
}


/* Multiheader */

.metricSeparator{
    border-left: 1px solid rgba(0,0,0,.12);
    padding-left: 5px !important;
}

.metricHardSeparator{
    border-left: 1px solid rgba(0,0,0,.7);
}

.metricTinnyWidth{    
    max-width: 36px;
    min-width: 36px;
}

.metricSuperTinnyWidth{    
    max-width: 26px;
    min-width: 26px;
}

.metricTinnyWidth .mat-sort-header-button, .metricSuperTinnyWidth .mat-sort-header-button {
    margin: 0 auto !important;
}

/* Estilos de celdas */

.tdBold{
    font-weight: bold;
}

.tdOrange{
    color: orange;
}

.tdDarkOrange{
    color: darkorange;
}

.tdRed{
    color: red;
}

.tdDarkRed{
    color: darkred;
}

.ellipsisColumn{
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Ventanas modales */

.cdk-overlay-container {
    z-index: 9999;
}

.modal-content{    
    min-height: 100px;
}

.modal-header {
    padding: 10px !important;
    border-bottom: 0px solid #e9ecef !important;
}

.modal-header h4 {    
    font-size: 13px !important;
    color: #000;
    opacity: 0.5;
}

.modal-header .close {
    padding: 10px 15px !important;
}

/* Drag&Drop for page filters */

.pfdd_height{
    height: 52px;
    margin-bottom: 4px;
}

.pfdd_div{
    background-color: #e5e4e4;
}

.pfdd_div_draggedOn{
    background-color: #c8c8c8 !important;
}

.w_3_pc{
    float: left;
    width: 3%;
}

.w_94_pc{
    float: left;
    width: 94%;
}

.w_97_pc{
    float: left;
    width: 97%;
}


/* Expanded modal table */

.modal-lglg .modal-dialog{
    max-width: 95%;
    height: 100vH;
    max-height: 100vH;
    margin: 0 auto;
}

.modal-lglg .modal-dialog .modal-content{
    height: 90vH;
    max-height: 90vH;
}

.modal-lglg .modal-dialog .modal-content .modal-table{
    overflow: auto;
}

/* Iconos de observaciones */

.obscell .fa{
    font-size: 20px;
    color: #f78147;
}

/* PFA */
.sh_border_bottom{
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.sh_border_top{
    border-top: 1px solid rgba(0,0,0,.12);
}
.sh_top-1{
    top: -1px !important;
}

.sh_border{
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.sh_border-left{
    border-left: 1px solid rgba(0,0,0,.12);        
}
.sh_vertical_align_top{
    vertical-align : top;
}
.sh_vertical_align_bottom{
    vertical-align : bottom;
}
 











