label, .checkboxLabel{
    font-size: 12px;
    margin-bottom: 0px !important;
}
select, input{    
    font-size: 12px !important;
    margin-bottom: 0;
    height: 26px !important;
    padding: 0px 2px !important;
}
textarea{
    padding: 2px 4px !important;
}

fieldset{
    margin-bottom: 0px !important;
    padding-bottom: 5px !important;
}

.form-control{
    border-radius: 2px !important;
    font-size: 0.7rem;
    border: 1px solid silver !important; 
}

.form-control:focus, .btn-outline-secondary:focus {
    box-shadow: none !important;
}

.form-control:disabled {
    background-color: #d7d7d7 !important;
    opacity: 1;
}

.inputCalendarButton{
    padding: 0px 5px !important;
    border: 0px !important;
    color: white !important;
}

.inputCalendarButton:hover{
    background-color: inherit !important;
    color: #868e96 !important;
}


/* Botones generales */

.btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 6px;
    transition: 0.5s;
    margin: 4px 0px;
    cursor: pointer;
    background-color: #222;
    color: white;
}

.btn-get-started-grey{
    background-color: grey;
}

.btn-welcome{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    transition: 0.5s;
    cursor: pointer;    
    width: 100%;
    text-transform: none;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
}

 
.btn-get-started:hover, .btn-welcome:hover {
    background: #2dc997;
    border-color: #2dc997;
    text-decoration: none !important;
    color: white !important;
}

.btn-get-started-small {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 4px 14px;
    border-radius: 6px;
    transition: 0.5s;
    margin: 4px 0px;
    cursor: pointer;
    background-color: #222;
    color: white;
}

.btn-get-starter-small:hover {
    background: #2dc997;
    border-color: #2dc997;
    text-decoration: none !important;
    color: white !important;
}
.btn-get-started-small-grey{
    background-color: grey;
}


/* Multiselect */

.dropdown-btn{
    height: 26px;
    padding: 0px !important;
    background-color: white !important;
    border: 1px solid silver !important;
    border-radius: 2px !important;
}

.dropdown-down{
    border-top: 5px solid #a6a6a6 !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    padding-top: 1px !important;
}

.dropdown-up{
    border-bottom: 5px solid #adadad !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    padding-top: 1px !important;
}

.dropdown-list{
    border-radius: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.multiselect-item-checkbox div {
    color: #222 !important;
    font-size: 12px !important;
    padding-left: 20px !important;
}

.multiselect-item-checkbox div:before {
    color: #337ab7 !important;
    width: 12px !important;
    height: 12px !important;
    margin-top: -7px !important;
    border: 1px solid #337ab7 !important;
    -webkit-animation: none !important;
    animation: none !important;
}

.multiselect-item-checkbox div:after {
    -webkit-transform: rotate(-45deg) scale(0.8) !important;
    transform: rotate(-45deg) scale(0.8) !important;
    left: 2px !important;
}

.multiselect-item-checkbox input + div {
    min-height: 18px;
}

.selected-item {
    border: 0px !important;
    font-size: 12px !important;
    margin: 3px !important;
    color: #222 !important;
    background-color: inherit !important;
}

.selected-item:hover {
    box-shadow: none !important;
}

.selected-item a {
    display: none;
}

.dropdown-btn span{
    font-size: 11px;
    padding-top: 4px;
}

.dropdown-list ul {
    position: relative;
}

.dropdown-list li {
    padding: 4px 6px 0px 6px !important;
}

.dropdown-list .item1 li {
    padding: 4px 6px 4px 6px !important;
}

.item2{
    padding-bottom: 4px !important;
}

.no-data h5{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}




/* Material Button Toggle */

.mat-button-toggle-title{    
    background-color: rgba(1, 41, 126, 0.5);
    text-align: center;
    height: 28px;
    border-radius: 4px;
    margin-top: 1px;
    font-size: 14px;
    padding: 3px;
    color: white;
}

.mat-button-toggle .fa{
    margin-right: 4px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 30px !important;
    font-size: 14px !important;
    padding: 0px !important;
}

.mat-button-toggle-appearance-standard {
    color: rgb(255, 255, 255);
    background: rgba(227, 227, 227, 0.57);
}

.mat-button-toggle-appearance-standard:hover, .mat-button-toggle-checked {
    background-color:  rgba(255, 255, 255, 0.85) !important;
    color: #222;
}

.mat-button-toggle-group-appearance-standard{
    border: 0 !important;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
    border-left: solid 1px rgba(255, 255, 255, 0.5);
}

/* Red */

.mainButtonToggleRed .mat-button-toggle-appearance-standard {
    background: rgba(255, 0, 0, 0.4);
}

.mainButtonToggleRed .mat-button-toggle-appearance-standard:hover, 
.mainButtonToggleRed .mat-button-toggle-checked {
    background-color: rgba(218, 48, 48, 0.6) !important;
    color: white;
}

/* Blue */

.mainButtonToggleBlue .mat-button-toggle-appearance-standard {
    background: rgba(2, 161, 140, 0.67);
}

.mainButtonToggleBlue .mat-button-toggle-appearance-standard:hover, 
.mainButtonToggleBlue .mat-button-toggle-checked {
    background: rgba(2, 161, 140, 1) !important;
    color: white;
}

.mainButtonToggleBlue .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
   padding: 0 0px !important;
}

/* Tabs */

.mat-tab-label {
    padding: 0 20px !important;
    min-width: 10px !important;
}

/* Color Picker */

.color-picker {
    border: #a9a9a9 solid 1px !important;
}

.color-picker .cursor {
    border: #222 solid 1px !important;
}

/* NG5 Slider */ 

.ng5-slider-span {
    font-size: 11px !important;
}

.ng5-slider-pointer {
    width: 12px !important;
    height: 12px !important;
    top: -4px !important;
}

.ng5-slider-pointer:after {
    width: 6px !important;
    height: 6px !important;
    top: 3px !important;
    left: 3px !important;
}

.ng5-slider .ng5-slider-bubble {
    top: 16px !important;
}

.ng5-slider {
    margin: 15px 0 15px !important;
}
