
<div class="filterContainer mb-2">
    <!-- Resumen de la selección / Añadir -->
    <div class="row m-0 filterSummary">
        <div class="col-md-11 p-0 d-flex align-items-center">
            <div>
                <i class="fa fa-search toggleFiilterIcon" [hidden]="filterOpened" (click)="toggleFilter()"
                    matTooltip="Mostrar filtro"></i>
                <i class="fa fa-angle-double-up toggleFiilterIcon" [hidden]="!filterOpened" (click)="toggleFilter()"
                    matTooltip="Ocultar filtro"></i>
            </div>
            <div>
                <span *ngFor="let elementId of summaryIds">
                    <i>{{summary[elementId].label}}:</i> {{summary[elementId].value}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <span *ngIf="summaryIds.length == 0"><i>(Sin filtro de selección)</i></span>
            </div>
        </div>
        <div class="col-md-1 text-right p-0 d-flex flex-row-reverse">
            <!-- Añadir -->
            <div *ngIf="filter.insertable" (click)="openAddForm()" matTooltip="Añadir registro">
                <i class="fa fa-plus toggleFiilterIcon"></i>
            </div>
        </div>
    </div>
    <!-- Filtro -->
    <div class="pl-3 pr-3 m-0 dashboardFilter" [class.dashboardFilterShown60px]="filterOpened"
        [class.dashboardFilterHidden]="!filterOpened">
        <div *ngIf="options"> 
            <div class="row" style="padding: 0px 5px  5px  5px; ">
                <ng-container *ngFor="let section of options.sections">
                    <div class="col-md-{{section.gridWidth}}">
                        <div style="background-color: white;border-radius: 5px;padding: 5px 15px 10px 15px;border: 1px solid #ccc">                            
                            <div *ngIf="options.sections.length>1"  (click)="expandClosePanel(section)">                                
                                {{section.name}}
                                <div style="float:right">
                                    <i class="fa fa-chevron-up"   *ngIf="section.open"  ></i>
                                    <i class="fa fa-chevron-down" *ngIf="!section.open"></i>
                                </div>
                            </div>
                            <div *ngIf="section.open">
                                <ng-container *ngIf="options.sections.length>1">
                                    <div *ngFor="let elementId of filter.rowElementMap[section.id]"
                                        style="margin-right: 10px;">
                                        <!-- Text -->
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 100%;">
                                                    <label
                                                        [ngClass]="getClassDirty(elementId)">{{filter.elementMap[elementId].label}}</label>
                                                    <app-generic-filter-element (onChangeFilter)="onChangeFilter($event)" [filter]="filter" [elementId]=elementId>
                                                    </app-generic-filter-element>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </ng-container>                                
                                <ng-container *ngIf="options.sections.length==1" style="margin-top: 20px">                                    
                                    
                                    <table width="100%" style="margin-top: 10px; margin-bottom: 10px;">
                                        <tr>                                            
                                            <ng-container *ngFor="let elementId of filter.rowElementMap[section.id]"
                                                style="margin-right: 10px;">                                                
                                                <td width="{{getWidthInput(elementId)}}" style="padding-right:20px;">
                                                    <label
                                                        [ngClass]="getClassDirty(elementId)">{{filter.elementMap[elementId].label}}</label>
                                                    <app-generic-filter-element (onChangeFilter)="onChangeFilter($event)" [filter]="filter" [elementId]=elementId>
                                                    </app-generic-filter-element>
                                                </td>
                                            </ng-container>
                                            <td style="text-align: right;">
                                                <div class="btn-get-started-small ml-2" (click)="search()">
                                                    {{ 'Buscar' | translate }}</div>
                                                <div class="btn-get-started-small btn-get-started-small-grey ml-2"
                                                    (click)="clear()">
                                                    {{ 'Limpiar' | translate }}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </ng-container>
                            </div>
                        </div>
                        <!--</mat-expansion-panel>-->
                        <!--</mat-accordion>-->
                    </div>
                </ng-container>
            </div>

            <div class="row" style="padding: 0px 5px  0px  15px; " *ngIf="options.sections.length>1">
                <div class="col-md-12" style="text-align: right; ">
                    <div class="btn-get-started-small ml-2" (click)="search()">{{ 'Buscar' | translate }}</div>
                    <div class="btn-get-started-small btn-get-started-small-grey ml-2" (click)="clear()">
                        {{ 'Limpiar' | translate }}</div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 errorValidacion" [hidden]="!filter.dateError && !filter.emptyError">
                {{filter.errorMessage}}
            </div>
        </div>
    </div>
</div>