.aeBox{            
    background-color: rgb(241, 241, 241);
    border-left: 1px solid silver;
    position: fixed;
    right: 0px;
    top: 48px;
    bottom: 0px;    
    width: 30%;
    display: block;
    transition: 0.3s;
    z-index: 1100;
    overflow: auto;
}

.aeBoxHidden{
    right: -31%;
}

.validationError{
    color: red;
    font-size: 10px;
    line-height: 12px;
}

label, .checkboxLabel{
    font-size: 12px;
    margin-bottom: 0px !important;
}

select, input{    
    font-size: 12px !important;
    margin-bottom: 0;
    height: 26px !important;
    padding: 0px 2px !important;
}

fieldset{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.form-control{
    border-radius: 2px !important;
    font-size: 0.7rem;
}

.form-control:focus, .btn-outline-secondary:focus {
    box-shadow: none !important;
}

.form-control:disabled {
    background-color: #d7d7d7 !important;
    opacity: 1;
}

.inputCalendarButton{
    padding: 0px 5px !important;
    border: 0px !important;
    color: #222 !important;
}

.inputCalendarButton:hover{
    background-color: inherit !important;
    color: #868e96 !important;
}


.errorValidacion {
    font-size: 12px;
    color: red;
    margin-top: 10px;
}



/* Multiselect */

.dropdown-btn{
    height: 26px;
    padding: 0px !important;
    background-color: white !important;
    border: 1px solid #ced4da !important;
    border-radius: 2px !important;
}

.dropdown-down{
    border-top: 5px solid #a6a6a6 !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
}

.dropdown-up{
    border-bottom: 5px solid #adadad !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
}

.dropdown-list{
    border-radius: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.dropdown-list ul{
    position: relative !important;
}

.dropdown-list .item1{
    overflow: hidden !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    max-width: 85% !important;
    max-height: 20px !important;
    overflow: hidden !important;
}

.dropdown-btn{
    color: #222;
    font-size: 12px;
}
.multiselect-item-checkbox div {
    color: #222 !important;
    font-size: 12px !important;
    padding-left: 20px !important;
}

.multiselect-item-checkbox div:before {
    color: #337ab7 !important;
    width: 12px !important;
    height: 12px !important;
    margin-top: -7px !important;
    border: 1px solid #337ab7 !important;
    -webkit-animation: none !important;
    animation: none !important;
}

.multiselect-item-checkbox div:after {
    -webkit-transform: rotate(-45deg) scale(0.8) !important;
    transform: rotate(-45deg) scale(0.8) !important;
    left: 2px !important;
}

.selected-item {
    border: 0px !important;
    font-size: 12px !important;
    margin: 3px !important;
    color: #222 !important;
    background-color: inherit !important;
}

.selected-item:hover {
    box-shadow: none !important;
}

.selected-item a {
    display: none;
}

.dropdown-btn .ng-star-inserted{
    font-size: 11px;
}

.dropdown-list li {
    padding: 4px 6px 0px 6px !important;
}

.dropdown-list .item1 li {
    padding: 4px 6px 4px 6px !important;
}

.item2{
    padding-bottom: 4px !important;
}



/* LOADING */

.abe-spinner-bg{
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.abe-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70px;
}

.abe-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.abe-spinner > div {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: #222;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}


