<!-- Filtro -->
<div class="aeBox" [class.aeBoxHidden]="!boxOpened" *ngIf="!asleep">
    <!-- Filtros -->
    <div class="col-md-12 pt-2">
        <!-- Filas -->
        <div class="row" *ngFor="let row of abeConfig.rowArray">
            <!-- Campos -->
            <div *ngFor="let elementId of abeConfig.rowElementMap[row]" class="col-md-{{abeConfig.elementMap[elementId].bsWidth}}">
                <fieldset class="form-group">
                    <label>{{abeConfig.elementMap[elementId].label}}</label>
                    <!-- Input text -->
                    <div *ngIf="abeConfig.elementMap[elementId].type == 'TX'">
                        <input type="text" class="form-control" name="elementId" 
                            [(ngModel)]="abeConfig.elementMap[elementId].value"
                            [disabled]="getDisabled(elementId)"/>
                    </div>
                    <!-- Textarea -->
                    <div *ngIf="abeConfig.elementMap[elementId].type == 'TA'">
                        <textarea type="text" class="form-control" name="elementId" 
                            [(ngModel)]="abeConfig.elementMap[elementId].value"
                            [disabled]="getDisabled(elementId)">
                        </textarea>
                    </div>
                    <!-- Select -->
                    <div *ngIf="abeConfig.elementMap[elementId].type == 'SS'">
                        <select class="form-control" name="elementId" 
                                [(ngModel)]="abeConfig.elementMap[elementId].value"
                                [disabled]="getDisabled(elementId)">
                            <option value=""></option>
                            <option *ngFor="let m of abeConfig.elementMap[elementId].data" [value]="m.COD">{{m.DESCR}}</option>
                        </select>
                    </div>
                    <!-- Date --> 
                    <div *ngIf="abeConfig.elementMap[elementId].type == 'DT'">
                        <div class="input-group">
                            <input class="form-control" placeholder="dd/mm/yyyy" name="elementId" autocomplete="off"
                                [matDatepicker]="mdp"  
                                [(ngModel)]="abeConfig.elementMap[elementId].value"
                                (click)="mdp.open()" 
                                [disabled]="getDisabled(elementId)">
                            <mat-datepicker #mdp></mat-datepicker>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton" (click)="mdp.open()" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="validationError">{{abeConfig.elementMap[elementId].validationError}}&nbsp;</div>
                </fieldset>
            </div>
        </div>
    </div>
    <!-- Botones -->    
    <div class="col-md-12 mt-3 text-right">
        <div class="btn-get-started ml-2" *ngIf="mode == 'E'" (click)="save()">Guardar</div>
        <div class="btn-get-started ml-2" *ngIf="mode == 'I'" (click)="save()">Añadir</div>
        <div class="btn-get-started btn-get-started-grey ml-2" (click)="cancel()">Cancelar</div>
        <br/>
        <div class="errorValidacion" [hidden]="!updateError">
            {{updateError}}
        </div>
    </div>
</div>
<!-- Loading -->
<div class="abe-spinner-bg" *ngIf="loading">
    <div class="abe-spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
