<!-- Filtros -->
<div class="col-md-12 pt-2">
    <!-- Filas -->
    <div class="row" *ngFor="let row of options.rowArray" style="flex-wrap:nowrap">
        <!-- Campos -->
        <div *ngFor="let elementId of options.rowElementMap[row]"
            class="col-md-{{options.elementMap[elementId].bsWidth}}">

            <ng-container *ngIf="options.elementMap[elementId].type != 'HIDDEN'">

                <fieldset class="form-group">
                    <label>{{options.elementMap[elementId].label}}</label>
                    <!-- Input text -->
                    <div *ngIf="options.elementMap[elementId].type == 'AUTV'">
                        AUTO
                    </div>
                    <div *ngIf="options.elementMap[elementId].type == 'MSV'">

                        <angular2-multiselect [data]="options.elementMap[elementId].data"
                            [loading]="options.elementMap[elementId].loading"
                            [(ngModel)]="options.elementMap[elementId].value"
                            [settings]="options.elementMap[elementId].settingsMSV"
                            (onScrollToEnd)="options.elementMap[elementId].fetchMoreSelectServer($event, options.elementMap[elementId])">
                            <c-search>
                                <ng-template>
                                    <input type="text"
                                        (keyup)="options.elementMap[elementId].onSearchSelectServer($event, options.elementMap[elementId])"
                                        placeholder="Buscar"
                                        style="border: none;width: 100%; height: 100%;outline: none;" />
                                </ng-template>
                            </c-search>
                        </angular2-multiselect>


                    </div>
                    <div *ngIf="options.elementMap[elementId].type == 'TX'">
                        <ng-container *ngIf="options.elementMap[elementId].typeData == 'TEXT'">
                            <ng-container *ngIf="!options.elementMap[elementId].assistant">
                                <input type="{{options.elementMap[elementId].password ? 'password' : 'text' }}" class="form-control" name="elementId"
                                    [(ngModel)]="options.elementMap[elementId].value"
                                    [disabled]="getDisabled(elementId)" />
                            </ng-container>
                            <ng-container *ngIf="options.elementMap[elementId].assistant">
                                <input type="text" class="form-control" name="elementId"
                                    [(ngModel)]="options.elementMap[elementId].value"
                                    [disabled]="getDisabled(elementId)" style="width: 80%;display: inline-block" />
                                <div style="width: 20%;text-align: center;display: inline-block;">
                                    <a href=""
                                        (click)='$event.preventDefault();openAssistant(options.elementMap[elementId].id)'>
                                        <i class="fa fa-edit btn-assistant"></i>
                                    </a>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="options.elementMap[elementId].typeData != 'TEXT'">
                            <input type="number" class="form-control" name="elementId"
                                [(ngModel)]="options.elementMap[elementId].value" [disabled]="getDisabled(elementId)" />
                        </ng-container>

                    </div>
                    <!-- Textarea -->
                    <div *ngIf="options.elementMap[elementId].type == 'TA'">
                        <textarea type="text" class="form-control" name="elementId"
                            [(ngModel)]="options.elementMap[elementId].value" [disabled]="getDisabled(elementId)">
                        </textarea>
                    </div>
                    <!-- Select -->
                    <div *ngIf="options.elementMap[elementId].type == 'SS'">
                        <select class="form-control" name="elementId" [(ngModel)]="options.elementMap[elementId].value"
                            [disabled]="getDisabled(elementId)" (change)="changeSingleSelect($event, elementId);">
                            <option value="" *ngIf="options.elementMap[elementId].showEmpty"></option>
                            <option *ngFor="let m of options.elementMap[elementId].data" [value]="m.COD">{{m.DESCR}}
                            </option>
                        </select>
                    </div>
                    <!-- Date -->
                    <div *ngIf="options.elementMap[elementId].type == 'DT'">
                        <div class="input-group">
                            <input class="form-control" placeholder="dd/mm/yyyy" name="elementId" autocomplete="off"
                                [matDatepicker]="mdp" [(ngModel)]="options.elementMap[elementId].value"
                                (click)="mdp.open()" [disabled]="getDisabled(elementId)">
                            <mat-datepicker #mdp></mat-datepicker>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                                    (click)="mdp.open()" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="options.elementMap[elementId].type == 'CA'">
                        <input type="text" class="form-control" name="elementId"
                            style="width: 80%;display: inline-block" [(ngModel)]="options.elementMap[elementId].value"
                            [disabled]="true" />
                        <div style="width: 20%;text-align: center;display: inline-block;">
                            <a href=""
                                (click)='$event.preventDefault();openAssistant(options.elementMap[elementId].id)'> <i
                                    class="fa fa-search btn-assistant"></i>
                            </a>
                        </div>
                    </div>
                    <div class="validationError">{{options.elementMap[elementId].validationError}}&nbsp;</div>
                </fieldset>
            </ng-container>
        </div>
    </div>
</div>
<div class="col-md-12 mt-3 text-right">
    <div class="errorValidacion" [hidden]="!updateError">
        {{updateError}}
    </div>
</div>
<div class="modal-footer">
    <button mat-stroked-button type="button" class="btn_modal_cancel" (click)="cancel()">Cancelar</button>
    <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="save()"
        [disabled]="loading">Confirmar</button>
</div>

<div class="abe-spinner-bg" *ngIf="loading">
    <div class="abe-spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>